<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <page-title :title="title"/>
      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import AppHeader from "../../components/app-header";
  import PageTitle from "../../components/page-title";

  export default {
    components: {PageTitle, AppHeader},
    async asyncData() {
      return {
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        slug: '1',
        title: 'ВЫБИРАЕМ ПОДЕРЖАННУЮ АВТОМОБИЛЬНУЮ РЕЗИНУ',
        content: '<p><img class="alignleft wp-image-24501" src="http://asshina.com/wp-content/uploads/2016/10/vybiraem-bu-rezinu.jpg" alt="выбор резины бу" width="80" height="80" srcset="http://asshina.com/wp-content/uploads/2016/10/vybiraem-bu-rezinu.jpg 200w, http://asshina.com/wp-content/uploads/2016/10/vybiraem-bu-rezinu-150x150.jpg 150w" sizes="(max-width: 80px) 100vw, 80px">Желание сэкономить на приобретении зимней резины часто приводит автомобилистов на вторичный рынок. Шутка ли, стоимость комплекта новых шин достигает нескольких сотен долларов, а вполне пригодные для эксплуатации бывшие в употреблении покрышки вполне можно приобрести вдвое дешевле.</p><p>Поэтому ближе к наступлению сезона всё больше водителей посещают толкучки и авторынки, выискивая подходящий им комплект.</p><p>На самом деле, приобретение подержанной автомобильной резины – это палка о двух концах. Бывает, что на развалах удаётся отыскать очень даже неплохой комплект, эксплуатировавшийся в хороших условиях и практически не имеющий следов износа. Но всё это зависит от везения. Чаще всего приобретённые на вторичном рынке шины годятся для использования не более чем в течение одного сезона.</p><p>Как правило, на вторичный рынок <a href="http://asshina.com/">бу автомобильная резина</a>. В наши края поступает из стран Европы. Уровень жизни там пока ещё выше, чем в России, да и требования к покрышкам намного жёстче. Всё это побуждает тамошних водителей добровольно-принудительно обновлять обувку своих транспортных средств намного чаще, чем им того хотелось бы. Ну а снятые с их колёс шины переправляются к нам, где желающие или вынужденные экономить с удовольствием их покупают.</p><p>Слепо доверять продавцам подержанной резины нельзя. Каждый водитель должен знать об элементарных требованиях, предъявляемых к состоянию автомобильных покрышек. Более того, отправляясь на авторынок, следует внимательно изучить вопрос и к выбору изделия отнестись со знанием дела. Ведь нередко автомобилистам навязывают заведомо некачественный продукт, пользуясь отсутствием у них должных знаний и опыта. Так на что же обратить внимание при выборе подержанной резины?</p><p>В первую очередь, оценивается общее состояние приглянувшегося комплекта. Внешний вид резины должен внушать доверие. На ней не должно быть никаких рваных мест или следов от заплаток. Ну и уж ни в коем случае, ни на одном участке покрышки не должен проступать её металлический каркас. То есть – шина должна быть собой, а не эдаким ёжиком, облачённым в резиновую основу.</p><p>Немаловажное значение имеет и глубина протектора резины. Учитывая то, что речь в данной статье идёт и зимних шинах, то углубления в их бороздках должны быть не менее 3-х миллиметров. Хотя этот показатель уже считается критическим и во многих странах по достижении такого износа использование резины считается недопустимым. Поэтому покупая подержанные шины следите за тем, чтобы глубина протектора достигала хотя бы пяти миллиметров. Этого как раз будет достаточно для того, чтобы благополучно откатать один сезон.</p><p>Однако не только по состоянию рисунка оценивается износ резины. Немаловажное значение здесь имеет также его равномерность. Например, изъеденная по краям шина говорит о том, что предыдущий владелец не считал нужным своевременно накачивать колёса, а слишком сильный износ её центральной части служит свидетельством избыточного давления воздуха. Всё это в конечном итоге сказывается на продолжительности срока эксплуатации изделия, а также на безопасности дорожного движения.</p><p>Кроме того, следует напомнить, что на одной оси автомобиля не могут быть установлены шины с разным рисунком протектора. При покупке же подержанной <a href="http://asshina.com/bu-shiny-optom.html">бу резины оптом</a> важно обратить внимание на то, чтобы весь комплект имел более-менее одинаковую степень износа. Ну а чтобы хоть как-то обезопасить себя от приобретения уж слишком явного неликвида, настоятельно рекомендуется совершать сделку либо со знакомыми людьми, либо в солидных фирмах, предлагающих как новые, так и бывшие в употреблении изделия.</p>'
      };
    }
  }
</script>
