<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <bg-image :image="bgImage"/>
      <page-title :title="title"/>
      <div class="container">
        <div class="row">
          <div class="col">
            <template v-for="article in articles">
              <article-list-item v-bind="article"/>
            </template>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import AppHeader from "../../components/app-header";
  import BgImage from "../../components/bg-image";
  import PageTitle from "../../components/page-title";
  import ArticleListItem from "../../components/article-list-item";

  export default {
    components: {ArticleListItem, PageTitle, BgImage, AppHeader},
    async asyncData() {
      return {
        title: 'Статьи',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        bgImage: 'http://asshina.com/wp-content/uploads/2017/02/stati.jpg',
        articles: [
          {
            slug: '1',
            title: 'ВЫБИРАЕМ ПОДЕРЖАННУЮ АВТОМОБИЛЬНУЮ РЕЗИНУ',
            content: 'Желание сэкономить на приобретении зимней резины часто приводит автомобилистов на вторичный рынок. Шутка ли, стоимость комплекта новых шин достигает нескольких сотен долларов, а вполне пригодные для эксплуатации бывшие в употреблении покрышки вполне можно приобрести вдвое дешевле. Поэтому ближе к наступлению сезона всё больше водителей посещают толкучки и авторынки, выискивая подходящий им'
          },
          {
            slug: '2',
            title: 'КАКИЕ ШИНЫ ЛУЧШЕ ВЫБРАТЬ?',
            content: 'Когда ваши протекторы имеют насыщенную черную окраску, это не может служить отговоркой для того, чтобы совсем не смотреть за ними. Опытные водители со стажем могут многое рассказать про разные автомобильные аварии, которые заканчивались трагически. Довольно большая часть из них возникала как раз из-за того, что не верно были выбраны протекторы, а в некоторых случаях вообще из-за «лысой»'
          },
          {
            slug: '3',
            title: 'ВЫБОР АВТОМОБИЛЬНОЙ РЕЗИНЫ. ЧТО ПРЕДСТАВЛЯЮТ ИЗ СЕБЯ БЮДЖЕТНЫЕ ШИНЫ?',
            content: 'Одним из способов сэкономить на приобретении сезонной автомобильной резины является выбор бюджетного варианта изделия. Вопреки расхожему мнению, далеко не всегда низкая стоимость покрышек говорит об их плохом качестве. Если посмотреть вокруг, можно обнаружить, что на колёсах многих машин стоят покрышки, на которых указан малоизвестный производитель, при этом автовладельцы не спешат их'
          },
        ]
      };
    }
  }
</script>
