<template>
  <data-table-loader class="data-table" v-model="loader">
    <data-table-filters :names="names" :filters="filter" :filtered="filtered"/>
    <b-pagination
      v-if="perPage < totalQueryCount"
      class="pagination"
      size="md"
      :hide-goto-end-buttons="true"
      :total-rows="totalQueryCount"
      v-model="currentPage"
      :per-page="perPage"/>
    <data-table-view-shiny v-if="items.length > 0" :items="tableItems"/>
    <div v-else class="content">
      <div class="alert alert-warning" role="alert">
        Ваших размеров сейчас нет, но мы можем предложить замену - позвоните или закажите обратный звонок.
      </div>
    </div>
  </data-table-loader>
</template>

<script>
  import SelectControl from "../select-control";
  import DataTableViewShiny from "./data-table-view-shiny";
  import DataTableLoader from "../data-table-loader";
  import DataTable from '../data-table';
  import DataTableFilters from "../data-table-filters";

  export default {
    extends: DataTable,
    name: "data-table-shiny",
    components: {DataTableFilters, DataTableLoader, DataTableViewShiny, SelectControl},
    data() {
      return {
        baseUrl: 'http://localhost:3100',
        source: 'shiny',
        filtered: {
          width: null,
          height: null,
          diameter: null,
          season: null,
          manufacturer: null,
        },
        filter: {
          width: {
            "155": 155,
            "175": 175,
            "185": 185,
            "195": 195,
            "205": 205,
            "215": 215,
            "225": 225,
            "235": 235,
            "245": 245,
            "255": 255,
            "265": 265,
            "275": 275,
            "285": 285,
            "295": 295,
            "300": 300,
            "305": 305,
            "315": 315,
            "325": 325,
            "335": 335,
            "355": 355,
          },
          height: {
            "25": 25,
            "30": 30,
            "35": 35,
            "40": 40,
            "45": 45,
            "50": 50,
            "55": 55,
            "60": 60,
            "65": 65,
            "66": 66,
            "70": 70,
            "75": 75,
            "80": 80,
            "85": 85,
          },
          diameter: {
            "r13": "R13",
            "r14": "R14",
            "r15": "R15",
            "r15-c": "R15 C",
            "r16": "R16",
            "r16-c": "R16 C",
            "r17": "R17",
            "r18": "R18",
            "r19": "R19",
            "r20": "R20",
            "r21": "R21",
            "r22": "R22",
          },
          season: {
            "leto": "Лето",
            "zima": "Зима",
          },
          manufacturer: {
            "accelera": "Accelera",
            "achilles": "Achilles",
            "amtel": "Amtel",
            "apollo": "Apollo",
            "atturo": "Atturo",
            "aurora": "Aurora",
            "avatyre": "Avatyre",
            "avon": "Avon",
            "barguzin": "Barguzin",
            "barum": "Barum",
            "bct": "BCT",
            "belshina": "Белшина",
            "bfgoodrich": "BFGoodrich",
            "bridgestone": "Bridgestone",
            "carbon": "Carbon",
            "ceat": "Ceat",
            "continental": "Continental",
            "contyre": "Contyre",
            "cooper": "Cooper",
            "cordian": "Cordian",
            "cordiant": "Cordiant",
            "daewoo": "Daewoo",
            "dayton": "Dayton",
            "delinte": "Delinte",
            "dunlop": "Dunlop",
            "esa-tecar": "ESA-Tecar",
            "eurotec": "Eurotec",
            "falken": "Falken",
            "federal": "Federal",
            "firestone": "Firestone",
            "formula": "Formula",
            "fortuna": "Fortuna",
            "fulda": "Fulda",
            "general-tire": "General Tire",
            "generaltire": "GeneralTire",
            "gislaved": "Gislaved",
            "goodride": "Goodride",
            "goodyear": "Goodyear",
            "gt": "GT",
            "gt-radial": "GT Radial",
            "haida": "Haida",
            "hankook": "Hankook",
            "headway": "Headway",
            "hercules": "Hercules",
            "hermos": "Hermos",
            "hing": "Hing",
            "imperial": "Imperial",
            "infinity": "Infinity",
            "infinity-tyres": "Infinity Tyres",
            "kleber": "Kleber",
            "kumho": "Kumho",
            "landsail": "Landsail",
            "lassa": "Lassa",
            "laufenn": "Laufenn",
            "leao": "Leao",
            "linglong": "Linglong",
            "marangoni": "Marangoni",
            "marshal": "Marshal",
            "matador": "Matador",
            "maxtrek": "Maxtrek",
            "maxxis": "Maxxis",
            "meteor": "Meteor",
            "michelin": "Michelin",
            "minerva": "Minerva",
            "nankang": "Nankang",
            "nexen": "Nexen",
            "nitto": "Nitto",
            "nizhnekamskshina": "Нижнекамскшина",
            "nokian": "Nokian",
            "novex": "Novex",
            "petlas": "Petlas",
            "pirelli": "Pirelli",
            "platin": "Platin",
            "pneumant": "Pneumant",
            "point": "Point",
            "racealone": "Racealone",
            "radar": "Radar",
            "riken": "Riken",
            "roadstone": "Roadstone",
            "rockstone": "Rockstone",
            "rotalla": "Rotalla",
            "rotex": "Rotex",
            "runway": "Runway",
            "sailun": "Sailun",
            "sava": "Sava",
            "semperit": "Semperit",
            "sportiva": "Sportiva",
            "star-performer": "Star Performer",
            "starfire": "Starfire",
            "sumitomo": "Sumitomo",
            "sumo": "Sumo",
            "sunny": "Sunny",
            "syron": "Syron",
            "taxat": "Taxat",
            "tigar": "Tigar",
            "toyo": "Toyo",
            "tracmax": "Tracmax",
            "trazan": "Trazan",
            "tri-ace": "Tri Ace",
            "triangle": "Triangle",
            "tristar": "Tristar",
            "tunga": "Tunga",
            "uniroyal": "Uniroyal",
            "uralshina": "Уралшина",
            "viking": "Viking",
            "vredestein": "Vredestein",
            "vsp": "VSP",
            "wanli": "Wanli",
            "westlake": "Westlake",
            "winrun": "Winrun",
            "yashz": "ЯШЗ",
            "yokohama": "Yokohama",
            "zeetex": "Zeetex",
          },
        },
        names: {
          width: "Ширина",
          height: "Высота",
          diameter: "Диаметр",
          season: "Сезон",
          manufacturer: "Производитель",
        }
      };
    },
    mounted() {
      this.updateItems();
    },
    methods: {
      itemSize(item) {
        const sizes = [
          this.filter.width[item.width],
          this.filter.height[item.height],
          this.filter.diameter[item.diameter]
        ];
        return sizes.join('/');
      },
    },
    computed: {
      tableItems() {
        return this.items.map(item => {
          item.size = this.itemSize(item);
          item.season = this.filter[item.season];
          item.url = '/nokian-hakka-green-155-65-r14-bu-0004262/';
          return item;
        });
      }
    },
  }
</script>

<style scoped lang="scss">
  .data-table {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .pagination {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
</style>
