<template>
  <table v-if="items.length > 0" class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Сейчас в наличии:</th>
      <th class="text-center" scope="col">Размер</th>
      <th class="text-center" scope="col">Кол-во</th>
      <th scope="col"></th>
      <th class="text-center" scope="col">Износ</th>
      <th class="text-center" scope="col">за 1 шт</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="item in items" class="clickable-row">
      <td class="align-middle text-center">
        <img :src="item.photo">
      </td>
      <td class="align-middle">
        <h2>{{ item.name }}</h2>
      </td>
      <td class="align-middle text-center">
        <h2>{{ item.size }}</h2>
      </td>
      <td class="align-middle text-center">
        <h2>{{ item.quantity }}</h2>
      </td>
      <td class="align-middle text-center">
        <h2>{{ item.season }}</h2>
      </td>
      <td class="align-middle text-center">
        <h2>{{ item.wear }}%</h2>
      </td>
      <td class="align-middle text-center">
        <span>{{ item.price }}</span>
        <!-- TODO: Replace with real url-->
        <p>
          <a :href="item.url">Выбрать</a>
        </p>
      </td>
      <td class="align-middle text-center">
        <template v-if="item.priceNew > 0">
          <p>Цена новых:</p>
          <noindex>
            <a :href="item.newUrl"
               title="Средняя цена на Яндекс.Маркете"
               target="_blank">
              {{ item.priceNew }}
            </a>
          </noindex>
        </template>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  export default {
    name: "data-table-view-shiny",
    props: {
      items: {
        type: Array,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  table {
    th, td {
      padding: 1px;
    }
    tbody tr.clickable-row:hover {
      cursor: pointer;
      td {
        background-color: rgba(238, 205, 20, 0.65) !important;
      }
    }
    tr {
      th {
        color: #9b9a9a;
      }
      td {
        &:first-child {
          padding: 5px 15px;
          width: 261px;
        }
        &:nth-child(8) {
          width: 100px;
          p {
            margin-bottom: 0;
          }
          a {
            font-size: 17px;
          }
        }
        &:nth-last-child(2) {
          background: #f2f8fe;
          width: 120px;
        }
        img {
          height: 100px;
          width: 200px;
        }
        h2 {
          margin: 0;
          padding: 0;
          font-size: 15px;
          color: #000;
        }
      }
    }
  }
</style>
