<template>
  <nav class="header-menu d-flex flex-row justify-content-around align-items-stretch">
    <header-menu-item v-for="item in items" :key="item.id" v-bind="item"/>
  </nav>
</template>

<script>
  import HeaderMenuItem from "./header-menu-item";

  export default {
    name: "header-menu",
    components: {HeaderMenuItem},
    props: {
      items: {
        type: Array,
        required: true,
      }
    },
  }
</script>

<style scoped lang="scss">
  .header-menu {
    height: 100%;
  }
</style>
