<template>
  <div class="header-menu-item d-flex flex-row align-items-center justify-content-around position-relative text-left">
    <a class="mt-auto mb-auto" :class="aClasses" :href="href">
      {{ title }}
      <template v-if="children.length > 0">
        <i v-if="isTop" class="fas fa-angle-down ml-1"></i>
        <i v-if="!isTop" class="fas fa-angle-right float-right"></i>
      </template>
    </a>
    <div class="d d-inline-flex flex-column position-absolute" v-if="children.length > 0">
      <header-menu-item v-for="item in children" :key="item.title" :is-top="false" v-bind="item"/>
    </div>
  </div>
</template>

<script>
  import HeaderMenu from "./header-menu";

  export default {
    name: "header-menu-item",
    components: {HeaderMenu},
    props: {
      title: {
        type: String,
        required: true,
      },
      href: {
        type: String,
        default() {
          return null;
        },
      },
      classes: {
        type: String,
        default() {
          return '';
        },
      },
      children: {
        type: Array,
        default() {
          return [];
        },
      },
      isTop: {
        type: Boolean,
        default() {
          return true;
        },
      },
    },
    computed: {
      aClasses() {
        return {
          [this.classes]: true,
          'pl-2 pr-2 pt-1 pb-1': !this.isTop,
        };
      },
    },
  }
</script>

<style scoped lang="scss">
  .header-menu-item {
    background: #4e83db;
    /* Если глубина больше 1 */
    & & {
      .d {
        top: 8px;
        left: 100%;
      }
      &:hover > .d {
        top: 0
      }
    }

    .d {
      top: 62px;
      left: 0;
      width: max-content;
      visibility: hidden;
      opacity: 0;
      transition: visibility 50s, opacity 250ms, top 250ms linear;
    }
    &:hover {
      & > .d {
        top: 54px;
        visibility: visible;
        opacity: 1;
      }
    }

    a {
      line-height: 26px;
      font-size: 14px;
      text-transform: uppercase;
      color: white;
      width: 100%;

      &:hover {
        color: white;
        text-decoration: underline;
      }

      &.yellow {
        color: yellow;
      }
    }
  }
</style>
