<template>
  <div class="header">
    <div class="container info d-flex align-items-center p-1">
      <div>
        <a href="/" :title="title">
          <img width="233" height="54" :src="logo">
        </a>
      </div>
      <div>
        Продажа БУ шин из Германии<br> без пробега по РФ
      </div>
      <div>
        <span class="schedule">9:00-21:00 <br>без выходных</span>
      </div>
      <div>
        <a class="phone" :href="'tel:' + phone">
          <p>{{ phone }}</p>
          <span>Мы перезвоним через 1 минуту!</span>
        </a>
      </div>
    </div>
    <div class="menu-top">
      <div class="container">
        <header-menu :items="menuItems"/>
      </div>
    </div>
  </div>
</template>

<script>
  import HeaderMenu from "./header-menu/header-menu";

  export default {
    name: "app-header",
    components: {HeaderMenu},
    props: {
      title: String,
      logo: String,
      phone: String,
    },
    data() {
      return {
        menuItems: [
          {
            title: 'Шины бу розница', href: '/', children: [
              {title: 'Главная', href: '/'},
              {title: 'Летние шины бу', href: '/'},
              {title: 'Зимние шины бу', href: '/'},
              {
                title: 'По радиусу', href: '/', children: [
                  {title: 'Зимние шины бу', href: '/'},
                ]
              },
              {title: 'По ширине', href: '/'},
              {title: 'По высоте', href: '/'},
              {title: 'По производителю', href: '/'},
              {title: 'Популярные шины бу', href: '/'},
            ],
          },
          {title: 'Распродажа шин', href: '/rasprodazha-shin', classes: 'yellow'},
          {title: 'Бу шины оптом', href: '/bu-shiny-optom'},
          {title: 'Выкуп б/у шин', href: '/vykup-b-u-shin'},
          {title: 'Шиномонтаж', href: '/shinomontazh'},
          {title: 'Контакты', href: '/contacts', classes: 'yellow'},
        ],
      };
    },
  }
</script>

<style scoped lang="scss">
  .info {
    line-height: 1;

    div {
      display: inline-block;
      width: 25%;
      vertical-align: middle;

      &:nth-child(2) {
        text-align: left;
        font-weight: bold;
        font-size: 16px;
        padding-left: 10px;
      }

      &:nth-child(3) {
        text-align: center;
        font-weight: bold;
        font-size: 17px;
      }

      &:nth-child(4) {
        font-size: 16px;
        text-align: right;
        font-weight: bold;
      }
    }

    .phone {
      p {
        font-size: 24px;
        margin-bottom: 5px;
        line-height: 19px;
        color: #ff3031;
      }

      span {
        font-size: 14px;
      }

      &:hover {
        text-decoration: none;
        span {
          text-decoration: underline;
        }
      }
    }
  }

  .menu-top {
    width: 100%;
    background: #4e83db;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    height: 54px;

    .container {
      height: 100%;
    }
  }
</style>
