<template>
  <div class="app-footer">
    <div class="container">
      <div class="row">
        <div class="col-4 d-flex flex-column">
          <div>
            <div class="logo">
              <a href="/" :title="logo.title">
                <img :src="logo.image">
              </a>
            </div>
            <div class="social">
              <a :href="social.instagram">
                <i class="fab fa-instagram"></i>
              </a>
              <a :href="social.vkontakte">
                <i class="fab fa-vk"></i>
              </a>
              <a :href="social.facebook">
                <i class="fab fa-facebook-square"></i>
              </a>
              <a :href="social.youtube">
                <i class="fab fa-youtube"></i>
              </a>
            </div>
          </div>
          <div class="info mt-auto">
            <div class="schedule">
              <span v-html="schedule"></span>
            </div>
            <div class="phone">
              <a :href="phoneHref">{{ phone }}</a>
            </div>
            <a class="yellow-button" href="#">Заказать звонок</a>
          </div>
        </div>
        <div class="col-8">
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2"
                 v-for="item in links"
                 :key="item.title">
              <a :href="item.href" :title="item.title">
                {{ item.title }}
              </a>
            </div>
          </div>
          <template v-if="diski.length > 0">
            <div class="hr">
              <span class="hr-title">&nbsp;&nbsp;&nbsp;Диски&nbsp;&nbsp;&nbsp;</span>
            </div>
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2"
                   v-for="item in diski"
                   :key="item.title">
                <a :href="item.href" :title="item.title">
                  {{ item.title }}
                </a>
              </div>
            </div>
          </template>
        </div>
      </div>
      <div class="row">
        <div class="col copyright text-center">
          <p>
            ©2013 - 2017 Купить <a href="/" title="Шины бу">шины бу</a> в ASshina.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "app-footer",
    props: {
      links: {
        type: Array,
      },
      diski: {
        type: Array,
      },
      logo: {
        title: String,
        image: String,
      },
      social: {
        instagram: String,
        vkontakte: String,
        facebook: String,
        youtube: String,
      },
      schedule: String,
      phone: String
    },
    computed: {
      phoneHref() {
        return 'tel:' + this.phone;
      },
    },
    methods: {
      splitted(array, parts) {
        const result = [];

        if (array && array.length > 0) {
          const maxLength = Math.ceil(array.length / parts);

          array.forEach((item, index) => {
            const firstIndex = Math.ceil((index + 1) / maxLength) - 1;
            if (!result[firstIndex]) {
              result[firstIndex] = [];
            }
            result[firstIndex].push(item);
          });
        }

        return result;
      },
    },
  }
</script>

<style scoped lang="scss">
  .app-footer {
    padding: 20px 0;
    background: #4474c4;
    color: #fff;
    font-size: 14px;

    a {
      color: white;
    }

    .social {
      margin-top: 10px;
      a {
        font-size: 25px;
        padding: 5px;
      }
    }

    .schedule,
    .phone {
      font-size: 14px;
    }

    .info .yellow-button {
      color: black;
      margin-bottom: 0;
    }

    .hr {
      margin-top: 20px;
      margin-bottom: 20px;
      border: 0;
      border-top: 1px solid #eee;
      text-align: center;
      height: 0;
      line-height: 0;

      .hr-title {
        background-color: #4474c4;
      }
    }

    .copyright {
      margin-top: 20px;
    }
  }
</style>
