<template>
  <div>
    <a :href="slug" :title="title">{{ title }}</a>
    <div>{{ content }} ...</div>
  </div>
</template>

<script>
  export default {
    name: "article-list-item",
    props: {
      slug: String,
      title: String,
      content: String,
    }
  }
</script>
