<template>
  <div class="container">
    <div class="row">
      <div v-for="variant in variants" :key="variants.url" class="col">
        <a :href="'/' + variant.url">
          <img width="300" height="75" :src="variant.img" :alt="variant.name"/>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "avto-choiser",
    props: {
      variants: Array
    }
  }
</script>

<style scoped lang="scss">
  a {
    display: block;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);
    margin: 10px auto;

    &:hover {
      box-shadow: 0 0 5px 5px rgba(238, 205, 20, 1);
    }
  }
</style>
