<template>
  <div>
    <div :style="styleObject"
         class="bg-image">
      <div class="container" v-if="hasSlotData">
        <div class="row">
          <div class="col">
            <slot></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "bg-image",
    props: {
      image: String,
      height: String,
      width: String,
    },
    computed: {
      hasSlotData() {
        return this.$slots.default;
      },
      styleObject: function () {
        const result = {'background-image': 'url(' + this.image + ')'};
        if (this.height) {
          const height = parseInt(this.height);
          if (height > 0) {
            result.height = `${height}px`;
          }
        }
        if (this.width) {
          const width = parseInt(this.width);
          if (width > 0) {
            result.width = `${width}px`;
          }
        }
        return result;
      }
    },
  }
</script>

<style scoped>
  .bg-image {
    min-height: 400px;
    background-position: center center;
    background-size: cover;
    padding: 20px 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
</style>
