<template>
  <div class="contact-widget text-center">
    <div class="title">{{ title }}</div>
    {{ address }}
    <template v-if="metro && metro.length > 0">
      <br>
      <img src="http://asshina.com/wp-content/themes/jazzweb-child/images/metro-logo.gif">
      <p>{{ metro }}</p>
    </template>
  </div>
</template>

<script>
  export default {
    name: "contact-widget",
    props: {
      title: String,
      address: String,
      metro: String,
    },
  }
</script>

<style scoped lang="scss">
  .contact-widget {
    border: 2px solid #4e83db;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .75);

    .title {
      background: #4e83db;
      color: white;
      font-size: 14px;
      text-transform: uppercase;
      height: 52px;
      line-height: 52px;
      margin-bottom: 24px;
    }

    img {
      max-width: 40px;
      height: auto;
    }
  }
</style>
