<template>
  <div class="dropdown yellow-button">
    <span>{{ text }}</span>
    <div class="items">
      <slot></slot>
    </div>
  </div>
</template>

<script>
  export default {
    name: "dropdown",
    props: {
      text: String
    }
  }
</script>

<style scoped lang="scss">
  .dropdown {
    position: relative;
    cursor: pointer;
    .items {
      display: none;
      position: absolute;
      background: white;
      left: 0;
      top: 42px;
      width: 100%;
    }
    &:hover .items {
      display: inherit;
    }
  }
</style>
