<template>
  <div class="image-gallery">
    <div v-for="imageSet in images" class="row">
      <div v-for="image in imageSet" class="col">
        <img :src="image">
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "image-gallery",
    props: {
      images: Array
    }
  }
</script>

<style scoped lang="scss">
  .image-gallery {
    margin: 20px 0;
    .row {
      text-align: center;
      padding: 20px 0;
      .col img {
        width: 100%;
      }
    }
  }
</style>
