<template>
  <div class="page-title">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1>{{ title }}</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "page-title",
    props: {
      title: String
    }
  }
</script>
