<template>
  <div>
    <div v-if="addresses.length" :style="{height: height + 'px'}" :id="mapId"></div>
    <h3 v-else class="text-center">Нет точек</h3>
  </div>
</template>

<script>
  export default {
    name: 'yandex-map',
    props: {
      addresses: {
        type: Array,
        default: [],
      },
      minZoom: {
        type: Number,
      },
      height: {
        type: [String, Number],
        default: 400,
      },
    },
    data() {
      return {
        myMap: null,
        mapId: `map-${Math.random()}`,
      };
    },
    computed: {
      lang() {
        if (!this.$route.params.lang) {
          return 'ru';
        }
        return this.$route.params.lang;
      },
      langMap() {
        return this.lang === 'ru' ? 'ru_RU' : 'en_US';
      },
      zoom() {
        return this.minZoom > 10 ? this.minZoom : 10;
      }
    },
    head() {
      return {
        script: [
          {src: 'http://api-maps.yandex.ru/2.1/?lang=' + this.langMap},
        ],
      };
    },
    mounted() {
      /**
       * @var {any} ymaps
       */
      ymaps.ready(async () => {
        if (this.addresses.length > 0) {
          const extractedCoordinates = await this.extractCoordinatesFromAddresses(this.addresses);
          this.item_map_init(extractedCoordinates);
        }
      });
    },
    methods: {
      item_map_init(coordinates) {
        this.myMap = new ymaps.Map(this.mapId, {
          center: [55.76, 37.64],
          zoom: this.zoom,
        });

        this.myMap.controls.add(new ymaps.control.ZoomControl());
        this.myMap.controls.add('typeSelector');

        coordinates.forEach((res) => {
          const placemark = new ymaps.Placemark([res[0], res[1]]);
          this.myMap.geoObjects.add(placemark);
        });

        this.myMap.setBounds(this.myMap.geoObjects.getBounds());
        this.myMap.setZoom(this.zoom);
      },
      extractCoordinatesFromAddresses(addresses) {
        const values = addresses.map(async (item) => {
          const objectsContainer = await ymaps.geocode(item);

          return objectsContainer.geoObjects.get(0).geometry.getCoordinates();
        });

        return Promise.all(values);
      },
    },
  }
</script>
