<template>
  <table v-if="items.length > 0" class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Наименование:</th>
      <th class="text-center" scope="col">Диаметр</th>
      <th class="text-center" scope="col">Ширина</th>
      <th class="text-center" scope="col">PCD</th>
      <th class="text-center" scope="col">Вылет (ET)</th>
      <th class="text-center" scope="col">за 1 шт</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="item in items" class="clickable-row">
      <td class="align-middle text-center">
        <img :src="item.photo">
      </td>
      <td class="align-middle">
        <h2>{{ item.name }}</h2>
      </td>
      <td class="align-middle text-center">
        <h2>{{ item.diameter }}</h2>
      </td>
      <td class="align-middle text-center">
        <h2>{{ item.width }}</h2>
      </td>
      <td class="align-middle text-center">
        <h2>{{ item.pcd }}</h2>
      </td>
      <td class="align-middle text-center">
        <h2>{{ item.et }}</h2>
      </td>
      <td class="align-middle text-center">
        <span>{{ item.price }}</span>
      </td>
      <td class="align-middle text-center">
        <div>
          <p style="margin-top: -30px;">{{ item.date }}</p>
          <p class="choose">
            <a :href="item.url">Выбрать</a>
          </p>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</template>

<script>
  export default {
    name: "data-table-view-diski",
    props: {
      items: {
        type: Array,
        required: true,
      },
    },
  }
</script>

<style scoped lang="scss">
  table {
    th, td {
      padding: 1px;
    }
    tbody tr.clickable-row:hover {
      cursor: pointer;
      td {
        background-color: rgba(238, 205, 20, 0.65) !important;
      }
    }
    tr {
      th {
        color: #9b9a9a;
      }
      td {
        text-align: center;
        padding: 2px;
        &:first-child {
          padding: 5px 15px;
          width: 261px;
        }
        &:nth-child(2) {
          text-align: left;
        }
        &:nth-child(6) {
          min-width: 60px;
        }
        &:nth-last-child(2) {
          background: #f2f8fe;
          width: 120px;
        }
        &:last-child {
          color: #9b9a9a;
          div {
            position: relative;
            width: 100%;
            height: 110px;
            line-height: 110px;
          }
        }
        img {
          height: 100px;
          width: 200px;
        }
        h2 {
          margin: 0;
          padding: 0;
          font-size: 15px;
          color: #000;
        }
      }
    }
  }

  .choose {
    position: relative;
    display: inline-block;
    top: -97px;
    color: #337ab7;
    cursor: pointer;
    line-height: 20px;
  }
</style>
