<template>
  <data-table-loader class="data-table" v-model="loader">
    <data-table-filters :names="names" :filters="filter" :filtered="filtered"/>
    <b-pagination
      v-if="perPage < totalQueryCount"
      class="pagination"
      size="md"
      :hide-goto-end-buttons="true"
      :total-rows="totalQueryCount"
      v-model="currentPage"
      :per-page="perPage"/>
    <data-table-view-diski v-if="items.length > 0" :items="tableItems"/>
    <div v-else class="content">
      <div class="alert alert-warning" role="alert">
        Ваших размеров сейчас нет, но мы можем предложить замену - позвоните или закажите обратный звонок.
      </div>
    </div>
  </data-table-loader>
</template>

<script>
  import SelectControl from "../select-control";
  import DataTableViewDiski from "./data-table-view-diski";
  import DataTableLoader from "../data-table-loader";
  import DataTable from '../data-table';
  import DataTableFilters from "../data-table-filters";

  export default {
    extends: DataTable,
    name: "data-table-diski",
    components: {DataTableFilters, DataTableLoader, DataTableViewDiski, SelectControl},
    data() {
      return {
        baseUrl: 'http://localhost:3100',
        source: 'diski',
        filtered: {
          width: null,
          diameter: null,
          pcd: null,
          et: null,
          automobile: null,
        },
        filter: {
          width: {
            "155": 155,
            "175": 175,
            "185": 185,
            "195": 195,
            "205": 205,
            "215": 215,
            "225": 225,
            "235": 235,
            "245": 245,
            "255": 255,
            "265": 265,
            "275": 275,
            "285": 285,
            "295": 295,
            "300": 300,
            "305": 305,
            "315": 315,
            "325": 325,
            "335": 335,
            "355": 355,
          },
          diameter: {
            "r13": "R13",
            "r14": "R14",
            "r15": "R15",
            "r15-c": "R15 C",
            "r16": "R16",
            "r16-c": "R16 C",
            "r17": "R17",
            "r18": "R18",
            "r19": "R19",
            "r20": "R20",
            "r21": "R21",
            "r22": "R22",
          },
          pcd: {
            "4x100": "4x100",
            "4x108": "4x108",
            "4x114-3": "4x114.3",
            "4x98": "4x98",
            "5x100": "5x100",
            "5x105": "5x105",
            "5x108": "5x108",
            "5x110": "5x110",
            "5x112": "5x112",
            "5x114-3": "5x114.3",
            "5x115": "5x115",
            "5x120": "5x120",
            "5x127": "5x127",
            "5x130": "5x130",
            "5x150": "5x150",
            "6x139-7": "6x139.7",
          },
          et: {
            "17": "17",
            "20": "20",
            "21": "21",
            "23": "23",
            "25": "25",
            "27": "27",
            "28": "28",
            "29": "29",
            "30": "30",
            "31": "31",
            "32": "32",
            "33": "33",
            "34": "34",
            "34-5": "34.5",
            "35": "35",
            "36": "36",
            "37": "37",
            "38": "38",
            "39": "39",
            "40": "40",
            "40-5": "40.5",
            "41": "41",
            "42": "42",
            "43": "43",
            "43-5": "43.5",
            "44": "44",
            "45": "45",
            "46": "46",
            "47": "47",
            "47-5": "47.5",
            "48": "48",
            "49": "49",
            "50": "50",
            "51": "51",
            "52": "52",
            "52-5": "52.5",
            "53": "53",
            "54": "54",
            "55": "55",
            "56": "56",
            "56-4": "56.4",
            "56-5": "56.5",
            "57": "57",
            "58": "58",
            "59": "59",
            "60": "60",
            "61": "61",
            "62": "62",
            "65": "65",
            "68": "68",
          },
          automobile: {
            "audi": "Audi",
            "bentley": "Bentley",
            "bmw": "BMW",
            "chevrolet": "Chevrolet",
            "citroen": "Citroen",
            "ford": "Ford",
            "honda": "Honda",
            "hyundai": "Hyundai",
            "jaguar": "Jaguar",
            "jeep": "Jeep",
            "kia": "KIA",
            "land-rover": "Land Rover",
            "lexus": "Lexus",
            "mazda": "Mazda",
            "mercedes-benz": "Mercedes-Benz",
            "mini": "MINI",
            "mitsubishi": "Mitsubishi",
            "nissan": "Nissan",
            "opel": "Opel",
            "porsche": "Porsche",
            "skoda": "Skoda",
            "subaru": "Subaru",
            "toyota": "Toyota",
            "vaz": "ВАЗ",
            "volkswagen": "Volkswagen",
            "volvo": "Volvo",
          },
        },
        names: {
          diameter: "Диаметр",
          width: "Ширина",
          pcd: "PCD",
          et: "Вылет",
          automobile: "Автомобиль",
        }
      };
    },
    mounted() {
      this.updateItems();
    },
    methods: {
      itemSize(item) {
        const sizes = [
          this.filter.width[item.width],
          this.filter.height[item.height],
          this.filter.diameter[item.diameter]
        ];
        return sizes.join('/');
      },
    },
    computed: {
      tableItems() {
        return this.items.map(item => {
          let date = new Date();
          date.setTime(item.date * 1000);
          item.date = `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;
          item.width = this.filter.width[item.width];
          item.diameter = this.filter.diameter[item.diameter];
          item.pcd = this.filter.pcd[item.pcd];
          item.et = this.filter.et[item.et];
          item.url = '/nokian-hakka-green-155-65-r14-bu-0004262/';
          return item;
        });
      }
    },
  }
</script>

<style scoped lang="scss">
  .data-table {
    font-size: 14px;

    display: flex;
    flex-direction: column;
    align-items: center;
    .pagination {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
</style>
