<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <bg-image :image="bgImage"/>
      <page-title :title="title"/>
      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import AppHeader from "../../components/app-header";
  import PageTitle from "../../components/page-title";
  import BgImage from "../../components/bg-image";

  export default {
    components: {BgImage, PageTitle, AppHeader},
    async asyncData() {
      return {
        title: 'Круглосуточный шиномонтаж в москве - цены на все виды работ',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        bgImage: 'http://asshina.com/wp-content/uploads/2016/09/shinomonatazh.jpg',
        content: `<p style="text-align: justify;"><img class="alignleft wp-image-24443" src="http://asshina.com/wp-content/uploads/2016/09/shinomontazh-Makeeva.jpg" alt="Шиномонтаж в Москве" width="90" height="90" srcset="http://asshina.com/wp-content/uploads/2016/09/shinomontazh-Makeeva.jpg 200w, http://asshina.com/wp-content/uploads/2016/09/shinomontazh-Makeeva-150x150.jpg 150w" sizes="(max-width: 90px) 100vw, 90px">Круглосуточный шиномонтаж в Москве ЦАО ASshina работает&nbsp;ежедневно без перерывов и выходных. Наш шиномонтаж оказывает полный спектр услуг по реанимации или замене шин. У нас оперативная и качественная помощь высококвалифицированных специалистов с использованием новейших разработок в технологических процессах шиномонтажа с применением высокопрочных прогрессивных материалов.</p><table class="table table-bordered"><tbody><tr><td colspan="10" valign="top" width="685"><p align="center"><strong>Прайс-лист на шиномонтажные работы 4-х колес</strong></p></td></tr><tr class="info"><td colspan="10" valign="top" width="685"><p align="center">Легковые авто</p></td></tr><tr><td valign="top" width="180"></td><td valign="top" width="56"><p align="center">13</p></td><td valign="top" width="56"><p align="center">14</p></td><td valign="top" width="56"><p align="center">15</p></td><td valign="top" width="56"><p align="center">16</p></td><td valign="top" width="56"><p align="center">17</p></td><td valign="top" width="56"><p align="center">18</p></td><td valign="top" width="56"><p align="center">19</p></td><td valign="top" width="56"><p align="center">20</p></td><td valign="top" width="59"><p align="center">21+</p></td></tr><tr><td style="width: 180px; vertical-align: middle; text-align: right;" valign="top" width="180">Комплекс</td><td valign="top" width="56"><p align="center">1600</p></td><td valign="top" width="56"><p align="center">1800</p></td><td valign="top" width="56"><p align="center">2000</p></td><td valign="top" width="56"><p align="center">2200</p></td><td valign="top" width="56"><p align="center">2600</p></td><td valign="top" width="56"><p align="center">3000</p></td><td valign="top" width="56"><p align="center">3600</p></td><td valign="top" width="56"><p align="center">4000</p></td><td valign="top" width="59"><p align="center">4400</p></td></tr><tr><td style="width: 180px; vertical-align: middle; text-align: right;" valign="top" width="180">Балансировка</td><td valign="top" width="56"><p align="center">600</p></td><td valign="top" width="56"><p align="center">700</p></td><td valign="top" width="56"><p align="center">800</p></td><td valign="top" width="56"><p align="center">800</p></td><td valign="top" width="56"><p align="center">1000</p></td><td valign="top" width="56"><p align="center">1100</p></td><td valign="top" width="56"><p align="center">1300</p></td><td valign="top" width="56"><p align="center">1400</p></td><td valign="top" width="59"><p align="center">1600</p></td></tr><tr><td style="width: 180px; vertical-align: middle; text-align: right;" valign="top" width="180">Монтаж/демонтаж</td><td valign="top" width="56"><p align="center">500</p></td><td valign="top" width="56"><p align="center">500</p></td><td valign="top" width="56"><p align="center">600</p></td><td valign="top" width="56"><p align="center">700</p></td><td valign="top" width="56"><p align="center">800</p></td><td valign="top" width="56"><p align="center">900</p></td><td valign="top" width="56"><p align="center">1100</p></td><td valign="top" width="56"><p align="center">1300</p></td><td valign="top" width="59"><p align="center">1400</p></td></tr><tr><td style="width: 180px; vertical-align: middle; text-align: right;" valign="top" width="180">Снятие/установка колёс</td><td valign="top" width="56"><p align="center">500</p></td><td valign="top" width="56"><p align="center">600</p></td><td valign="top" width="56"><p align="center">600</p></td><td valign="top" width="56"><p align="center">700</p></td><td valign="top" width="56"><p align="center">800</p></td><td valign="top" width="56"><p align="center">1000</p></td><td valign="top" width="56"><p align="center">1200</p></td><td valign="top" width="56"><p align="center">1300</p></td><td valign="top" width="59"><p align="center">1400</p></td></tr><tr class="info"><td colspan="10" valign="top" width="685"><p align="center">Джипы, внедорожники, минивены, универсалы повышенной вместимости</p></td></tr><tr><td valign="top" width="180"></td><td valign="top" width="56"><p align="center">13</p></td><td valign="top" width="56"><p align="center">14</p></td><td valign="top" width="56"><p align="center">15</p></td><td valign="top" width="56"><p align="center">16</p></td><td valign="top" width="56"><p align="center">17</p></td><td valign="top" width="56"><p align="center">18</p></td><td valign="top" width="56"><p align="center">19</p></td><td valign="top" width="56"><p align="center">20</p></td><td valign="top" width="59"><p align="center">21</p></td></tr><tr><td style="width: 180px; vertical-align: middle; text-align: right;" valign="top" width="180">Комплекс</td><td valign="top" width="56"><p align="center">1800</p></td><td valign="top" width="56"><p align="center">2000</p></td><td valign="top" width="56"><p align="center">2200</p></td><td valign="top" width="56"><p align="center">2600</p></td><td valign="top" width="56"><p align="center">3200</p></td><td valign="top" width="56"><p align="center">3800</p></td><td valign="top" width="56"><p align="center">4400</p></td><td valign="top" width="56"><p align="center">5000</p></td><td valign="top" width="59"><p align="center">5600</p></td></tr><tr><td style="width: 180px; vertical-align: middle; text-align: right;" valign="top" width="180">Балансировка</td><td valign="top" width="56"><p align="center">700</p></td><td valign="top" width="56"><p align="center">800</p></td><td valign="top" width="56"><p align="center">800</p></td><td valign="top" width="56"><p align="center">1000</p></td><td valign="top" width="56"><p align="center">1200</p></td><td valign="top" width="56"><p align="center">1400</p></td><td valign="top" width="56"><p align="center">1600</p></td><td valign="top" width="56"><p align="center">1800</p></td><td valign="top" width="59"><p align="center">2000</p></td></tr><tr><td style="width: 180px; vertical-align: middle; text-align: right;" valign="top" width="180">Монтаж/демонтаж</td><td valign="top" width="56"><p align="center">500</p></td><td valign="top" width="56"><p align="center">600</p></td><td valign="top" width="56"><p align="center">700</p></td><td valign="top" width="56"><p align="center">800</p></td><td valign="top" width="56"><p align="center">1000</p></td><td valign="top" width="56"><p align="center">1200</p></td><td valign="top" width="56"><p align="center">1400</p></td><td valign="top" width="56"><p align="center">1600</p></td><td valign="top" width="59"><p align="center">1800</p></td></tr><tr><td style="width: 180px; vertical-align: middle; text-align: right;" valign="top" width="180">Снятие/установка колёс</td><td valign="top" width="56"><p align="center">600</p></td><td valign="top" width="56"><p align="center">600</p></td><td valign="top" width="56"><p align="center">700</p></td><td valign="top" width="56"><p align="center">800</p></td><td valign="top" width="56"><p align="center">1000</p></td><td valign="top" width="56"><p align="center">1200</p></td><td valign="top" width="56"><p align="center">1400</p></td><td valign="top" width="56"><p align="center">1600</p></td><td valign="top" width="59"><p align="center">1800</p></td></tr><tr class="info"><td style="text-align: center;" colspan="10" valign="top" width="685">Колёса с усиленной боковиной (Runflat) – доплата 30% от стоимости услуг</td></tr><tr class="info"><td style="text-align: center;" colspan="10" valign="top" width="685">Работа с профилем 45 и ниже – доплата 200 рублей за колесо</td></tr></tbody></table><p style="text-align: justify;"><strong>Шиномонтаж 24 часа в Москве</strong> – это не просто голословное заявление. В любое время дня и ночи, в любую погоду, в праздники и выходные мы всегда наготове к приему автомобиля к обслуживанию.</p><p style="text-align: justify;">Хороший объем знаний и многолетний опыт профессиональных специалистов, полная комплектация мастерской современными высокотехничными приборами, высокоточным оборудованием и всеми необходимыми инструментами и материалами позволяет нам обеспечивать шиномонтаж круглосуточно и гарантировать надежность и безопасность нашим клиентам.</p><p style="text-align: justify;">Временно шиномонтаж работает с 10.00-21.00, каждый день.</p><h2 style="text-align: center;">ШИНОМОНТАЖ В МОСКВЕ – ВИДЫ РАБОТ</h2><p style="text-align: justify;">У нас всегда имеются в наличии необходимые материалы для оперативного выполнения поставленных задач. Все работы независимо от сложности: шиномонтаж боковых порезов или шиномонтаж грыж, будут выполнена качественно и строго в установленные сроки.</p><p style="text-align: justify;">Мы бережем нервы и время своих клиентов, поэтому на любой смене работает достаточное количество специалистов.</p><p style="text-align: justify;">Если вам срочно понадобились шиномонтажные услуги, вы желаете получить высокое качество обслуживания и исполнения работ, вас устраивают только инновационные высокопрочные устойчивые материалы и составы – наш круглосуточный шиномонтаж станет оптимальным решением всех проблем.</p><p style="text-align: justify;">Мы не идем на компромиссы с совестью – только высочайшее качество и полная безопасность.</p><p style="text-align: center;"><a href="/articles/">Статьи</a></p><p>&nbsp;</p>`
      };
    },
    head() {
      return {title: this.title};
    }
  }
</script>
