<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <bg-image :image="bgImage"/>
      <page-title :title="title"/>
      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import AppHeader from "../../components/app-header";
  import PageTitle from "../../components/page-title";
  import BgImage from "../../components/bg-image";

  export default {
    components: {BgImage, PageTitle, AppHeader},
    async asyncData() {
      return {
        title: 'Круглосуточный мотошиномонтаж в москве',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        bgImage: 'http://asshina.com/wp-content/uploads/2016/09/vykup-shin-bu.jpg',
        content: `<h2>Мотошиномонтаж в Москве предлагается всем любителям мотоспорта.</h2><p>На территории ЦАО наш круглосуточный мотошиномонтаж в Москве&nbsp;считается одним из самых качественных, недорогих и оперативных. Так как скорость и качество – это основной принцип работы наших мастеров. В мастерской есть специальный мотоподъемник и весь ассортимент необходимых смазок и профессиональных заплаток для устранения проколов мотошин.</p><p>Мы осуществляем шиномонтаж мотоциклов, скутеров, мотобайков, вообщем любой мототехники. Стоимость работ Вы можете уточнить по телефону:&nbsp;+7 (499) 649-50-95.</p><p><img class="aligncenter wp-image-528 size-medium" src="http://asshina.com/wp-content/uploads/2016/10/motoshinomontag-300x290.jpg" alt="Круглосуточный мотошиномонтаж в Москве" width="300" height="290" srcset="http://asshina.com/wp-content/uploads/2016/10/motoshinomontag-300x290.jpg 300w, http://asshina.com/wp-content/uploads/2016/10/motoshinomontag.jpg 350w" sizes="(max-width: 300px) 100vw, 300px"></p>`
      };
    },
    head() {
      return {title: this.title};
    }
  }
</script>
