<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <bg-image :image="bgImage"/>
      <page-title :title="title"/>
      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import AppHeader from "../../components/app-header";
  import PageTitle from "../../components/page-title";
  import BgImage from "../../components/bg-image";

  export default {
    components: {BgImage, PageTitle, AppHeader},
    async asyncData() {
      return {
        title: 'Ремонт автомобильных дисков в москве - цены на ремонт',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        bgImage: 'http://asshina.com/wp-content/uploads/2016/10/remont-diskov-1.jpg',
        content: `<p><img class="alignleft wp-image-24439" src="http://asshina.com/wp-content/uploads/2016/10/Remont-diskov-AS-SHina-300x300.jpg" alt="Ремонт дисков Москва" width="80" height="80" srcset="http://asshina.com/wp-content/uploads/2016/10/Remont-diskov-AS-SHina-300x300.jpg 300w, http://asshina.com/wp-content/uploads/2016/10/Remont-diskov-AS-SHina-150x150.jpg 150w, http://asshina.com/wp-content/uploads/2016/10/Remont-diskov-AS-SHina-261x261.jpg 261w, http://asshina.com/wp-content/uploads/2016/10/Remont-diskov-AS-SHina.jpg 310w" sizes="(max-width: 80px) 100vw, 80px">Одна из наиболее востребованных услуг в сфере обслуживания автомобилей. В процессе эксплуатации на дисках возникают повреждения, на некачественных дорожных покрытиях они могут погнуться. Конечно, можно заменить весь комплект, но гораздо выгоднее произвести ремонт.</p><p>Компания ASshina осуществляет ремонт автомобильных дисков в Москве. Мы ремонтируем литые диски и штампованые диски у нас оптимальные цены на ремонт дисков.&nbsp;По желанию клиента, мы произведем работы по ремонту дисков, направленные на устранение эффектов «восьмерки», то есть осевого биения, уберем вмятины, что, несомненно, не только увеличит срок службы диска, но и положительно скажется на безопасности за рулем.</p><div align="center"><table class="table table-bordered" style="height: 215px; width: 907px;"><tbody><tr class="info"><td style="width: 903px; text-align: center; vertical-align: middle;" colspan="8" valign="top"><p align="center"><strong>Прайс-лист на ремонт дисков (за штуку)</strong></p></td></tr><tr><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">13-14</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">15</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">16</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">17</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">18</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">19</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">20</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">21+</p></td></tr><tr><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">600 руб</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">900 руб</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">1 000 руб</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">1 200 руб</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">1 500 руб</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">2 000 руб</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">2 500 руб</p></td><td style="width: 111.117px; text-align: center; vertical-align: middle;" valign="top"><p align="center">3 500 руб</p></td></tr><tr><td style="width: 903px; text-align: center; vertical-align: middle;" colspan="8" valign="top">Цена на ремонт дисков договорная и зависит от сложности ремонта.</td></tr></tbody></table></div><p>&nbsp;</p>`
      };
    },
    head() {
      return {title: this.title};
    }
  }
</script>
