@font-face {
  font-family: "FuturaBookC";
  src: url(/fonts/FuturaBookC/italic.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "GoodVibesPro";
  src: url(/fonts/GoodVibesPro/regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlumbBold";
  src: url(/fonts/PlumbBold/plumb-bold.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaBookC';
  src: url(/fonts/FuturaBookC/regular.eot);
  src: url(/fonts/FuturaBookC/regular.eot) format('embedded-opentype'),
  url(/fonts/FuturaBookC/regular.woff2) format('woff2'),
  url(/fonts/FuturaBookC/regular.woff) format('woff'),
  url(/fonts/FuturaBookC/regular.ttf) format('truetype'),
  url(/fonts/FuturaBookC/regular.svg#regular) format('svg');
}

* {
  font-family: 'FuturaBookC', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h3, .h3 {
  font-size: 24px;
}

main {
  margin-top: 117px;
}

.container {
  min-width: 960px;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #00a0d2;
}

p {
  margin: 0 0 10px;
}

.su-heading.su-heading-align-left {
  text-align: left;
}

.su-heading-style-flat-dark {
  color: #eee;
  background: #333;
  border-left: 15px solid #555;
  padding: 10px 15px;
  line-height: 1.4;
}

.su-heading.su-heading-align-left .su-heading-inner {
  padding-left: .2em;
}

.yellow-button,
.yellow-button:hover,
.yellow-button:active,
.yellow-button:focus {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: black;
  background-color: #eecd14;
  padding: 10px 20px;
  margin: 10px 0;
}

.yellow-button.inactive {
  background: white;
}

.alignleft {
  float: left;
  padding-right: 10px;
  padding-bottom: 10px;
}

.page-item.active .page-link {
  background-color: rgba(238, 205, 20, 1) !important;
}

.yellow {
  color: yellow;
}

.white {
  color: white;
}
