<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <bg-image :image="bgImage"/>
      <page-title :title="title"/>
      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
      </div>
      <!--TODO: Add form-->
    </main>
  </div>
</template>

<script>
  import AppHeader from "../components/app-header";
  import PageTitle from "../components/page-title";
  import BgImage from "../components/bg-image";

  export default {
    components: {BgImage, PageTitle, AppHeader},
    async asyncData() {
      return {
        title: 'Продажа шин бу и резины бу оптом в москве',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        bgImage: 'http://asshina.com/wp-content/uploads/2016/09/shiny-bu-optom-4.jpg',
        content: `<p style="text-align: justify;"><img class="alignleft wp-image-24459" src="http://asshina.com/wp-content/uploads/2016/09/shiny-bu-optom.jpg" alt="Шины бу оптом" width="150" height="67">Мы предлагаем оптовые поставки &nbsp;бу шин из Европы по самым выгодным ценам. Всегда в наличии и под заказ большой ассортимент зимних и летних бу шин ведущих европейских производителей. Все бу шины без пробега по РФ.</p><p><span style="font-size: 14pt;"></span></p><div class="su-heading su-heading-style-flat-dark su-heading-align-left" style="font-size:18px;margin-bottom:10px"><div class="su-heading-inner">Возможно у Вас есть вопросы:</div></div><p></p><p style="text-align: justify;">Сомневаетесь продадут ли Вам 5, 10, 50, 100 колес или фуру – 1300 штук?</p><p style="text-align: justify;">Не знаете как выглядит то, что вы планируете заказать? Как посмотреть?</p><p style="text-align: justify;">Не можете определиться с ассортиментом? Парами, комплектами, поштучно?</p><p style="text-align: justify;">Варианты денежных расчетов: предоплата, расчет на месте? Можно ли вернуть товар?</p><p style="text-align: justify;">Это совершенно нормальные и правильные вопросы!</p><p style="text-align: justify;"><span style="font-size: 14pt;"></span></p><div class="su-heading su-heading-style-flat-dark su-heading-align-left" style="font-size:18px;margin-bottom:10px"><div class="su-heading-inner">Мы готовы на них ответить:</div></div><p></p><div class="su-list su-list-style-"><ul><li><i class="fa fa-check-square-o" style="color:#000000"></i> показать товар на месте или выслать фотографии;</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> посчитать стоимость доставки или встретить Вас и помочь с погрузкой;</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> проконсультировать по ассортименту и спросу;</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> обсудить возможные варианты взаиморасчетов.</li></ul></div><p style="text-align: justify;"><span style="font-size: 14pt;"></span></p><div class="su-heading su-heading-style-flat-dark su-heading-align-left" style="font-size:18px;margin-bottom:10px"><div class="su-heading-inner">Мы можем также предложить Вам различные варианты сотрудничества (помимо покупки), если Вы:</div></div><p></p><div class="su-list su-list-style-"><ul><li><i class="fa fa-check-square-o" style="color:#000000"></i> владелец или сотрудник шиномонтажа;</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> активный человек, готовый продавать наш товар;</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> занимаетесь розничными продажами бу шин и берете небольшое или большое количество резины для увеличения ассортимента;</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> трудитесь в какой – либо смежной тематике: покраска дисков, продажа грузовых шин, продажа шипованой резины или новых колес;</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> или просто у Вас есть предложение к нам по сотрудничеству.</li></ul></div><p style="text-align: justify;">По всем вопросам приобретения бу шин оптом или вопросам сотрудничества просьба обращаться по телефону:</p><p style="text-align: center;"><strong><span style="color: #ff0000;">сейчас в наличии более 2000 шин для опта<br> </span></strong></p><p style="text-align: center;"><strong><span style="color: #ff0000;">+7(499) 705-1011</span> Максим Анатольевич (отдел развития)</strong></p><p style="text-align: center;">или напишите нам на почту:</p><p style="text-align: center;"></p><div role="form" class="wpcf7" id="wpcf7-f5-p17-o1" lang="ru-RU" dir="ltr"><div class="screen-reader-response"></div><form action="/bu-shiny-optom.html#wpcf7-f5-p17-o1" method="post" class="wpcf7-form" novalidate="novalidate"><div style="display: none;"> <input type="hidden" name="_wpcf7" value="5"> <input type="hidden" name="_wpcf7_version" value="4.7"> <input type="hidden" name="_wpcf7_locale" value="ru_RU"> <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f5-p17-o1"> <input type="hidden" name="_wpnonce" value="643091df90"></div><div class="row"><div class="col-xs-12"><div class="callblock-border" style="width:600px; background: #333"><div class="callblock text-center"><div class="contact_form"> <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true" aria-invalid="false" placeholder="Ваш email"></span><br> <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="2" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false" placeholder="Ваше сообщение"></textarea></span><br> <input type="submit" value="Отправить" class="wpcf7-form-control wpcf7-submit call-buttom"><span class="ajax-loader"></span></div></div></div></div></div><div class="wpcf7-response-output wpcf7-display-none"></div></form></div><div class="su-heading su-heading-style-flat-dark su-heading-align-left" style="font-size:18px;margin-bottom:10px"><div class="su-heading-inner">Почему имеет смысл обратиться к нам?</div></div><div class="su-list su-list-style-"><ul><li><i class="fa fa-check-square-o" style="color:#000000"></i> Мы сами возим бу шины уже более пяти лет.</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> У нас два склада в Москве, более 7000 колес и 1500 моделей и шиноразмеров в наличии.</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> Всегда можно подъехать и посмотреть как выглядит товар.</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> Мы работаем 364 дня в году с 9-21.00.</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> Даем гарантию на товар (отсутствие грыж, порезов, проколов).</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> Успешно сами торгуем в розницу, то есть понимаем ассортимент и спрос.</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> Гибко подходим к количеству и стоимости продаваемых шин.</li><li><i class="fa fa-check-square-o" style="color:#000000"></i> Готовы выслушать и обдумать Ваши предложения по взаимодействию.</li></ul></div> Оставляйте заявку на сайте или звоните: <strong><span style="color: #ff0000;">+7(499) 705-1011</span> </strong><p></p><h2 style="text-align: center;">КАКИЕ ШИНЫ&nbsp;БУ ОПТОМ МЫ ПРЕДЛАГАЕМ?</h2><p style="text-align: justify;">Наша компания предлагает купить шины б/у и резину б/у оптом из Европы без посредников в Москве&nbsp;с минимальным процентом износа. При этом Вы экономите значительные средства, а качество резины для автомобиля остается на высоком уровне. Уровень жизни в Европе позволяет автомобилистам очень часто менять шины для своего авто.</p><p style="text-align: justify;">Такая резина еще долго прекрасно служит своему назначению. Купить шины оптом очень выгодно для Вас, позволяя при этом экономить деньги. Налаженные и долгосрочные деловые связи нашей компании с европейскими поставщиками позволяют нам предлагать Вам резину б/у оптом как малыми, так и крупными партиями.</p><p style="text-align: justify;">Предлагаем шины оптом, прайс лист на которые наглядно покажет Вам наличие марок и расценки предложенного товара. Летняя и зимняя резина отличного качества по отработанным технологиям известных европейских брендов подойдет иномаркам и отечественным автомобилям. Такие шины прослужат Вам долго и полностью окупят себя.</p><p style="text-align: justify;">Если покупаете шины оптом, цены будут гораздо ниже, что выгодно для Вас. Цены существенно меняются при закупке оптом от 100 единиц и выше. Эти выгодные для Вас предложения всегда возможно обсудить и оговорить с менеджерами компании по контактным телефонам. Мы всегда рады оптовым покупателям и рассчитываем на взаимовыгодное долгосрочное сотрудничество.</p><p style="text-align: justify;">Розничным покупателям подбор шин на странице<span style="color: #000000;"> <a style="color: #000000;" href="http://asshina.com/">Шины бу в розницу.</a></span></p><p>&nbsp;</p>`
      };
    },
    head() {
      return {title: this.title};
    }
  }
</script>
