<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <page-title :title="title"/>
      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
        <div class="row">
          <div class="col text-center">
            <a href="#" class="yellow-button">Перезвонить через 1 мин.</a>
          </div>
        </div>
        <div class="row" style="margin-top: 10px;">
          <div class="col" v-for="contact in contacts">
            <contact-widget v-bind="contact"/>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p style="margin-top: 10px;">
              <a class="yellow-button"
                 :href="roadScheme"
                 target="_blank">
                Распечатать схему проезда с указателями
              </a>
            </p>
            <iframe v-for="video in videos"
                    :src="video"
                    width="100%"
                    height="315"
                    frameborder="0"
                    allowfullscreen></iframe>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <hr>
            <p>{{ numbers }}</p>
            <hr>
          </div>
        </div>
      </div>
      <!--TODO: Add map-->
    </main>
  </div>
</template>

<script>
  import AppHeader from "../components/app-header";
  import PageTitle from "../components/page-title";
  import ContactWidget from "../components/contact-widget";

  export default {
    components: {ContactWidget, PageTitle, AppHeader},
    async asyncData() {
      return {
        title: 'Контакты',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        contacts: [
          {
            title: 'СКЛАД 1 + ШИНОМОНТАЖ',
            address: 'Москва ул. Сергея Макеева 11/9 строение 5',
            metro: 'Улица 1905 года'
          },
          {
            title: 'СКЛАД 1 + ШИНОМОНТАЖ',
            address: 'Москва ул. Сергея Макеева 11/9 строение 5',
            metro: 'Улица 1905 года'
          },
        ],
        videos: [
          'https://www.youtube.com/embed/ILQItCK-_RI',
          'https://www.youtube.com/embed/ezMTLGwJUpc',
          'https://www.youtube.com/embed/T1HhauOmC_E',
        ],
        numbers: 'ИП Попова И.А. ОГРНИП 315774600419136, ИНН 771970382785',
        roadScheme: 'http://asshina.com/wp-content/uploads/2016/09/ASSHINA-shema-proezda.pdf',
        content: `<h2 style="text-align: center;">Шиномонтаж на месте</h2><p style="text-align: justify;"><span style="color: #000000;"><a style="color: #000000;" href="http://asshina.com">БУ шины</a></span> лучше всего смотреть на месте, как и любой товар, бывший в употреблении. Так же важно, поставить резину на машину сразу – мы даем гарантию что грыж, порезов, проколов нет, и готовы это продемонстрировать. При доставке или удаленно быть уверенным в этом нельзя. Так что приезжайте, переобувайтесь. Шиномонтаж есть на каждом складе.</p><p><img class="aligncenter wp-image-24369" src="http://asshina.com/wp-content/uploads/2016/09/shinomonatazh.jpg" alt="Шиномонтаж Москва" width="930" height="209" srcset="http://asshina.com/wp-content/uploads/2016/09/shinomonatazh.jpg 1920w, http://asshina.com/wp-content/uploads/2016/09/shinomonatazh-300x67.jpg 300w, http://asshina.com/wp-content/uploads/2016/09/shinomonatazh-768x172.jpg 768w, http://asshina.com/wp-content/uploads/2016/09/shinomonatazh-1024x230.jpg 1024w" sizes="(max-width: 930px) 100vw, 930px"></p><p style="text-align: center; margin-bottom: -10px;"><span style="font-size: 24pt; color: #000000; font-family: symbol;"><strong>Звоните, подъезжайте.</strong></span></p><p></p><center><span style="font-size: 14pt;">&nbsp;<span style="font-size: 18pt;"><strong><span class="lptracker_phone" style="color: #ff0000;">+7 (499) 649-15-52</span></strong></span></span></center><p></p>`
      };
    },
    head() {
      return {title: this.title};
    }
  }
</script>
