<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <page-title :title="title"/>
      <avto-choiser :variants="variants"/>
    </main>
  </div>
</template>

<script>
  import AppHeader from "../components/app-header";
  import PageTitle from "../components/page-title";
  import AvtoChoiser from "../components/avto-choiser";

  export default {
    components: {AvtoChoiser, PageTitle, AppHeader},
    async asyncData() {
      return {
        title: 'Подбор дисков по марке автомобиля',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        variants: [
          {
            url: "diski-acura",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Acura-300x75.jpg",
            name: "Acura"
          },
          {
            url: "diski-alfa-romeo",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Alfa-Romeo-300x75.jpg",
            name: "Alfa Romeo"
          },
          {
            url: "diski-aston-martin",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Astonmartin-300x75.jpg",
            name: "Astonmartin"
          },
          {
            url: "diski-audi",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Audi-300x75.jpg",
            name: "Audi"
          },
          {
            url: "diski-bentley",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Bentley-300x75.jpg",
            name: "Bentley"
          },
          {
            url: "diski-bmw",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-bmw-300x75.jpg",
            name: "bmw"
          },
          {
            url: "diski-brilliance",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Brilliance-300x75.jpg",
            name: "Brilliance"
          },
          {
            url: "diski-buick",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Buick-300x75.jpg",
            name: "Buick"
          },
          {
            url: "diski-cadillac",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Cadillac-300x75.jpg",
            name: "Cadillac"
          },
          {
            url: "diski-changan",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Changan-300x75.jpg",
            name: "Changan"
          },
          {
            url: "diski-changfeng",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-ChangFeng-300x75.jpg",
            name: "ChangFeng"
          },
          {
            url: "diski-chery",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Chery-300x75.jpg",
            name: "Chery"
          },
          {
            url: "diski-chevrolet",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Chevrolet-300x75.jpg",
            name: "Chevrolet"
          },
          {
            url: "diski-chrysler",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Chrysler-300x75.jpg",
            name: "Chrysler"
          },
          {
            url: "diski-citroen",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Citroen-300x75.jpg",
            name: "Citroen"
          },
          {
            url: "diski-daewoo",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Daewoo-300x75.jpg",
            name: "Daewoo"
          },
          {
            url: "diski-daihatsu",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Daihatsu-300x75.jpg",
            name: "Daihatsu"
          },
          {
            url: "diski-datsun",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Datsun-300x75.jpg",
            name: "Datsun"
          },
          {
            url: "diski-dodge",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Dodge-300x75.jpg",
            name: "Dodge"
          },
          {
            url: "diski-emgrand",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Emgrand-300x75.jpg",
            name: "Emgrand"
          },
          {
            url: "diski-faw",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-FAW-300x75.jpg",
            name: "FAW"
          },
          {
            url: "diski-ferrari",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Ferrari-300x75.jpg",
            name: "Ferrari"
          },
          {
            url: "diski-fiat",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Fiat-300x75.jpg",
            name: "Fiat"
          },
          {
            url: "diski-ford",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Ford-300x75.jpg",
            name: "Ford"
          },
          {
            url: "diski-geely",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Geely-300x75.jpg",
            name: "Geely"
          },
          {
            url: "diski-gmc",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-GMC-300x75.jpg",
            name: "GMC"
          },
          {
            url: "diski-great-wall",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Great-Wall-300x75.jpg",
            name: "Great Wall"
          },
          {
            url: "diski-haima",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Haima-300x75.jpg",
            name: "Haima"
          },
          {
            url: "diski-honda",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Honda-300x75.jpg",
            name: "Honda"
          },
          {
            url: "diski-hummer",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Hummer-300x75.jpg",
            name: "Hummer"
          },
          {
            url: "diski-hyundai",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Hyundai-300x75.jpg",
            name: "Hyundai"
          },
          {
            url: "diski-infiniti",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Infiniti-300x75.jpg",
            name: "Infiniti"
          },
          {
            url: "diski-isuzu",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Isuzu-300x75.jpg",
            name: "Isuzu"
          },
          {
            url: "diski-iveco",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Iveco-300x75.jpg",
            name: "Iveco"
          },
          {
            url: "diski-jaguar",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Jaguar-300x75.jpg",
            name: "Jaguar"
          },
          {
            url: "diski-jeep",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Jeep-300x75.jpg",
            name: "Jeep"
          },
          {
            url: "diski-kia",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Kia-300x75.jpg",
            name: "Kia"
          },
          {
            url: "diski-lada",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Lada-300x75.jpg",
            name: "Lada"
          },
          {
            url: "diski-lancia",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Lancia-300x75.jpg",
            name: "Lancia"
          },
          {
            url: "diski-land-rover",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Land-Rover-300x75.jpg",
            name: "Land Rover"
          },
          {
            url: "diski-lexus",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Lexus-300x75.jpg",
            name: "Lexus"
          },
          {
            url: "diski-lifan",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Lifan-300x75.jpg",
            name: "Lifan"
          },
          {
            url: "diski-lincoln",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Lincoln-300x75.jpg",
            name: "Lincoln"
          },
          {
            url: "diski-lotus",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Lotus-300x75.jpg",
            name: "Lotus"
          },
          {
            url: "diski-maserati",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Maserati-300x75.jpg",
            name: "Maserati"
          },
          {
            url: "diski-maybach",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Maybach-300x75.jpg",
            name: "Maybach"
          },
          {
            url: "diski-mazda",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Mazda-300x75.jpg",
            name: "Mazda"
          },
          {
            url: "diski-mercedes",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Mercedes-300x75.jpg",
            name: "Mercedes"
          },
          {
            url: "diski-mercury",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Mercury-300x75.jpg",
            name: "Mercury"
          },
          {
            url: "diski-mg",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-MG-300x75.jpg",
            name: "MG"
          },
          {
            url: "diski-mini",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Mini-300x75.jpg",
            name: "Mini"
          },
          {
            url: "diski-mitsubishi",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Mitsubishi-300x75.jpg",
            name: "Mitsubishi"
          },
          {
            url: "diski-nissan",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Nissan-300x75.jpg",
            name: "Nissan"
          },
          {
            url: "diski-opel",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Opel-300x75.jpg",
            name: "Opel"
          },
          {
            url: "diski-peugeot",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Peugeot-300x75.jpg",
            name: "Peugeot"
          },
          {
            url: "diski-pontiac",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Pontiac-300x75.jpg",
            name: "Pontiac"
          },
          {
            url: "diski-porsche",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Porsche-300x75.jpg",
            name: "Porsche"
          },
          {
            url: "diski-renault",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Renault-300x75.jpg",
            name: "Renault"
          },
          {
            url: "diski-rolls-royce",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Rolls-Royce-300x75.jpg",
            name: "Rolls Royce"
          },
          {
            url: "diski-rover",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Rover-300x75.jpg",
            name: "Rover"
          },
          {
            url: "diski-saab",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Saab-300x75.jpg",
            name: "Saab"
          },
          {
            url: "diski-saturn",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Saturn-300x75.jpg",
            name: "Saturn"
          },
          {
            url: "diski-scion",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Scion-300x75.jpg",
            name: "Scion"
          },
          {
            url: "diski-seat",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Seat-300x75.jpg",
            name: "Seat"
          },
          {
            url: "diski-skoda",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Skoda-300x75.jpg",
            name: "Skoda"
          },
          {
            url: "diski-smart",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Smart-300x75.jpg",
            name: "Smart"
          },
          {
            url: "diski-ssang-yong",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Ssang-yong-300x75.jpg",
            name: "Ssang-yong"
          },
          {
            url: "diski-subaru",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Subaru-300x75.jpg",
            name: "Subaru"
          },
          {
            url: "diski-suzuki",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Suzuki-300x75.jpg",
            name: "Suzuki"
          },
          {
            url: "diski-tagaz",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Tagaz-300x75.jpg",
            name: "Tagaz"
          },
          {
            url: "diski-toyota",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Toyota-300x75.jpg",
            name: "Toyota"
          },
          {
            url: "diski-volkswagen",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Volkswagen-300x75.jpg",
            name: "Volkswagen"
          },
          {
            url: "diski-volvo",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-Volvo-300x75.jpg",
            name: "Volvo"
          },
          {
            url: "diski-zaz",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-ZAZ-300x75.jpg",
            name: "ZAZ"
          },
          {
            url: "diski-gaz",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-GAZ-300x75.jpg",
            name: "ГАЗ"
          },
          {
            url: "diski-uaz",
            img: "http://asshina.com/wp-content/uploads/2018/01/Disk-UAZ-300x75.jpg",
            name: "УАЗ"
          }
        ],
      };
    },
    head() {
      return {title: this.title};
    }
  }
</script>
