<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <bg-image image="http://asshina.com/wp-content/uploads/2016/09/IMG_9755-4-min.jpg">
        <div class="content">
          <div class="title1">
                        <span class="big">
                            Сэкономь до 60% стоимости,
                            <br>
                            при покупке БУ резины из Европы
                        </span>
            <br>
            с небольшим износом 20%
          </div>
        </div>
        <div class="text-center podbor">
          <dropdown text="ПОДОБРАТЬ ПО АВТО">
            <ul>
              <li>
                <a href="/shiny-po-avto" class="call-buttom">Шины</a>
              </li>
              <li>
                <a href="/diski-po-avto" class="call-buttom">Диски</a>
              </li>
            </ul>
          </dropdown>
        </div>
      </bg-image>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="choiser">
              <p class="title-2 text-center text-uppercase">Выберите</p>
              <a class="inactive" href="/">Шины</a>
              <a href="/diski-bu">Диски</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <data-table-diski/>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="callblock-border">
              <div class="callblock text-center">
                <p>Ищете другую модель? Мы подберем вам аналог!</p>
                <p><span>Получите консультацию от нашего эксперта</span></p>
                <div class="col">
                  <a href="#lptracker" class="yellow-button">Перезвонить через 1 мин.</a>
                </div>
                <p><span>или позвоните по телефону</span></p>
                <p><span>+7 (499) 649-15-52</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="title">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>На 2 складах более 5000 шин с износом 15-25%, прошедших отбор в Германии.</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <image-gallery :images="gallery"/>
      </div>

      <div class="shinomontazh-block">
        <div class="title">
          <div class="container">
            <div class="row">
              <div class="col">
                <h2>Шиномонтаж находится прямо на складе!</h2>
              </div>
            </div>
          </div>
        </div>

        <bg-image image="http://asshina.com/wp-content/uploads/2016/09/shinomontazh-min.jpg">
          <div class="shinomontazh">
            <div class="text-center">
              <h3>Стоимость шиномонтажа</h3>
            </div>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td colspan="7" style="text-align: center;">Легковые авто</td>
              </tr>
              <tr>
                <td></td>
                <td style="text-align: center;">15</td>
                <td style="text-align: center;">16</td>
                <td style="text-align: center;">17</td>
                <td style="text-align: center;">18</td>
                <td style="text-align: center;">19</td>
                <td style="text-align: center;">20</td>
              </tr>
              <tr>
                <td>КОМПЛЕКС</td>
                <td style="text-align: center;">1800</td>
                <td style="text-align: center;">2000</td>
                <td style="text-align: center;">2400</td>
                <td style="text-align: center;">2800</td>
                <td style="text-align: center;">3400</td>
                <td style="text-align: center;">3800</td>
              </tr>
              <tr>
                <td colspan="7" style="text-align: center;">Джипы, внедорожники, минивены</td>
              </tr>
              <tr>
                <td>КОМПЛЕКС</td>
                <td style="text-align: center;">2000</td>
                <td style="text-align: center;">2400</td>
                <td style="text-align: center;">3000</td>
                <td style="text-align: center;">3600</td>
                <td style="text-align: center;">4200</td>
                <td style="text-align: center;">4800</td>
              </tr>
              </tbody>
            </table>
          </div>
        </bg-image>
      </div>

      <div class="cert">
        <bg-image image="http://asshina.com/wp-content/uploads/2016/09/sert.png" height="465" width="858">
          <p>
            <strong>Гарантия!</strong>
            <br>
            <span style="width:1px; height:30px; display: block;"></span>
            Мы гарантируем отсутствие проколов, порезов и грыж на всех шинах. Если Вы обнаружите таковые при
            монтаже, мы их заменим или вернем деньги.
          </p>
        </bg-image>
      </div>

      <div class="title">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1>Шины бу с минимальным износом в Москве</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
      </div>

      <div class="title">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Акция</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col text-center">
            <a class="actsiya"
               href="http://zapparts.ru/?utm_source=http://asshina.com/&amp;utm_medium=banner"
               target="_blank">
              <img src="http://asshina.com/wp-content/uploads/2018/03/Banner-s-oferom-ot-ZAPPARTS.jpg">
            </a>
          </div>
        </div>
      </div>
    </main>
  </div>
</template>

<script>
  import AppHeader from "../components/app-header";
  import PageTitle from "../components/page-title";
  import BgImage from "../components/bg-image";
  import DataTable from "../components/data-table/data-table";
  import Dropdown from "../components/dropdown";
  import ImageGallery from "../components/image-gallery";
  import DataTableDiski from "../components/data-table/diski/data-table-diski";

  export default {
    components: {DataTableDiski, ImageGallery, Dropdown, DataTable, BgImage, PageTitle, AppHeader},
    async asyncData() {
      return {
        title: 'Ремонт автомобильных дисков в москве - цены на ремонт',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        gallery: [
          [
            'http://asshina.com/wp-content/uploads/2016/09/IMG_9777-min-1024x683.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/IMG_9730-min.jpg',
          ],
          [
            'http://asshina.com/wp-content/uploads/2016/09/1IMG-min-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/2IMG-min-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/3IMG-min-1-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/4IMG-min-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/5IMG-min-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/6IMG-min-300x225.jpg',
          ],
        ],
        content: '<p style="text-align: justify;">Компания «ASshina» реализует шины бу оптом и в розницу по ценам существенно ниже чем стоимость новых колес. Мы продаем шины бу&nbsp;с минимальным процентом износа из Европы, сэкономь до 50% стоимости, при покупке резины бу&nbsp;из Европы. Такая продукция служит дольше, чем резина «ходившая» по Российским дорогам.</p><p style="text-align: justify;"><img class="alignleft wp-image-4982 size-medium" title="Шины бу и резина бу из Европы" src="http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min-300x200.jpg" alt="Шины бу и резина бу из Европы" width="300" height="200" srcset="http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min-300x200.jpg 300w, http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min-768x512.jpg 768w, http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px">Резина бу, приобретенная у нас – отличный способ сэкономить. «ASshina» предлагает купить шины бу в Москве по низкой цене, процент износа в среднем 20%.</p><p style="text-align: justify;">Порой замена резины европейскими автолюбителями производится задолго до выхода изделия из строя. Законодательство не дает возможности страховать автомобиль, даже если износ колес небольшой. Таким образом, благодаря отлаженной системе работы с поставщиками из Европы мы в состоянии предложить Российским автовладельцам купить резину бу в Москве по низкой цене. Шины бу из Европы отлично эксплуатируются в нашем климате и на наших непростых дорогах.</p><h2 style="text-align: justify;">Покупайте шины бу в Москве выгодно!</h2><p style="text-align: justify;">В ассортименте более 5 000 шин&nbsp;на двух складах. Представлены шины лучших зарубежных брендов – Bridgestone, Pirelli, Continental, Michelin, Dunlop, Yokohama и многих других известных марок. У нас в компании Вы сможете купить шины бу в Москве почти любого типоразмера и сезонности, которые отходят еще 2-3 сезона.</p><p style="text-align: justify;">Зачем переплачивать за идентичный продукт? Шины бу перед продажей&nbsp;колибруются в Германии и приезжают к нам с износом в коридоре от 15 до 25%, поэтому можете быть уверены, что они еще Вам послужат!</p>'
      };
    },
    head() {
      return {title: this.title};
    }
  }
</script>

<style scoped lang="scss">
  .content {
    margin-top: 60px;
    padding: 20px 0;
    &:before, &:after {
      content: "";
      border-top: 2px solid #fff;
      width: 30%;
      position: absolute;
      left: 35%;
    }
    .title1 {
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 30px;
      span.big {
        color: #80b9ef;
        font-size: 40px;
      }
    }
  }

  .podbor {
    padding-bottom: 61px;
    ul {
      padding: 0;
      margin: 0;
      border: 0;
      border-top: 1px solid black;
      list-style: none;
      li {
        &:hover a {
          background: #eecd14;
        }
        a {
          padding: 0 20px;
          line-height: 2;
          margin: 0;
          background: white;
          text-align: center;
          display: block;
          clear: both;
          font-weight: 400;
          color: #333;
          white-space: nowrap;
        }
      }
    }
  }

  .title-2 {
    font-size: 24px;
  }

  .choiser {
    width: 500px;
    margin: 25px auto;
    p {
      float: left;
      margin-right: 10px;
      margin-top: -5px;
      margin-bottom: 0;
    }
    a {
      border: 2px solid #eecd14;
      padding: 10px 68px;
      display: inline;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 15px;
      color: black;
      background: #eecd14;
      margin: 10px 0;
      text-decoration: none;
      &.inactive {
        background: white;
      }
      &:hover {
        text-decoration: underline;
        outline: 0;
      }
    }
  }

  .callblock-border {
    margin: 20px auto;
    background: #4e83db;
    padding: 20px;
    max-width: 858px;
  }

  .callblock {
    border: 2px solid white;
    padding: 10px;
    color: black;
    font-size: 30px;
    p span {
      font-size: 25px;
    }
  }

  .title {
    margin: 20px 0;
    width: 100%;
    background: #4e83db;
    text-align: center;
    color: #fff;
    h2 {
      font-size: 24px;
      font-weight: 100;
      margin: 15px 0;
      color: #fff;
      text-transform: none;
    }
    h1 {
      margin: 15px;
      font-size: 24px;
    }
  }

  .shinomontazh-block .title {
    margin-bottom: 0;
  }

  .shinomontazh {
    color: white;
    padding: 36px;
    background: rgba(0, 0, 0, 0.6);
  }

  .cert {
    margin: 20px 0;
    p {
      text-align: center;
      color: black;
      font-size: 30px;
      margin: 70px auto;
      max-width: 570px;
    }
  }

  .actsiya img {
    max-width: 800px;
    width: 100%;
  }
</style>
