<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <bg-image image="http://asshina.com/wp-content/uploads/2016/09/IMG_9755-4-min.jpg">
        <div class="content">
          <div class="title1">
                        <span class="big">
                            Сэкономь до 60% стоимости,
                            <br>
                            при покупке БУ резины из Европы
                        </span>
            <br>
            с небольшим износом 20%
          </div>
        </div>
        <div class="text-center podbor">
          <dropdown text="ПОДОБРАТЬ ПО АВТО">
            <ul>
              <li>
                <a href="/shiny-po-avto" class="call-buttom">Шины</a>
              </li>
              <li>
                <a href="/diski-po-avto" class="call-buttom">Диски</a>
              </li>
            </ul>
          </dropdown>
        </div>
      </bg-image>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="choiser">
              <p class="title-2 text-center text-uppercase">Выберите</p>
              <a href="/">Шины</a>
              <a class="inactive" href="/diski-bu">Диски</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <data-table-shiny/>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col">
            <div class="callblock-border">
              <div class="callblock text-center">
                <p>Ищете другую модель? Мы подберем вам аналог!</p>
                <p><span>Получите консультацию от нашего эксперта</span></p>
                <div class="col">
                  <a href="#lptracker" class="yellow-button">Перезвонить через 1 мин.</a>
                </div>
                <p><span>или позвоните по телефону</span></p>
                <p><span>+7 (499) 649-15-52</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="title">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>На 2 складах более 5000 шин с износом 15-25%, прошедших отбор в Германии.</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <image-gallery :images="gallery"/>
      </div>

      <div class="shinomontazh-block">
        <div class="title">
          <div class="container">
            <div class="row">
              <div class="col">
                <h2>Шиномонтаж находится прямо на складе!</h2>
              </div>
            </div>
          </div>
        </div>

        <bg-image image="http://asshina.com/wp-content/uploads/2016/09/shinomontazh-min.jpg">
          <div class="shinomontazh">
            <div class="text-center">
              <h3>Стоимость шиномонтажа</h3>
            </div>
            <table class="table table-bordered">
              <tbody>
              <tr>
                <td colspan="7" style="text-align: center;">Легковые авто</td>
              </tr>
              <tr>
                <td></td>
                <td style="text-align: center;">15</td>
                <td style="text-align: center;">16</td>
                <td style="text-align: center;">17</td>
                <td style="text-align: center;">18</td>
                <td style="text-align: center;">19</td>
                <td style="text-align: center;">20</td>
              </tr>
              <tr>
                <td>КОМПЛЕКС</td>
                <td style="text-align: center;">1800</td>
                <td style="text-align: center;">2000</td>
                <td style="text-align: center;">2400</td>
                <td style="text-align: center;">2800</td>
                <td style="text-align: center;">3400</td>
                <td style="text-align: center;">3800</td>
              </tr>
              <tr>
                <td colspan="7" style="text-align: center;">Джипы, внедорожники, минивены</td>
              </tr>
              <tr>
                <td>КОМПЛЕКС</td>
                <td style="text-align: center;">2000</td>
                <td style="text-align: center;">2400</td>
                <td style="text-align: center;">3000</td>
                <td style="text-align: center;">3600</td>
                <td style="text-align: center;">4200</td>
                <td style="text-align: center;">4800</td>
              </tr>
              </tbody>
            </table>
          </div>
        </bg-image>
      </div>

      <div class="cert">
        <bg-image image="http://asshina.com/wp-content/uploads/2016/09/sert.png" height="465" width="858">
          <p>
            <strong>Гарантия!</strong>
            <br>
            <span style="width:1px; height:30px; display: block;"></span>
            Мы гарантируем отсутствие проколов, порезов и грыж на всех шинах. Если Вы обнаружите таковые при
            монтаже, мы их заменим или вернем деньги.
          </p>
        </bg-image>
      </div>

      <div class="title">
        <div class="container">
          <div class="row">
            <div class="col">
              <h1>Шины бу с минимальным износом в Москве</h1>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
      </div>

      <div class="title">
        <div class="container">
          <div class="row">
            <div class="col">
              <h2>Акция</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col text-center">
            <a class="actsiya"
               href="http://zapparts.ru/?utm_source=http://asshina.com/&amp;utm_medium=banner"
               target="_blank">
              <img src="http://asshina.com/wp-content/uploads/2018/03/Banner-s-oferom-ot-ZAPPARTS.jpg">
            </a>
          </div>
        </div>
      </div>

      <div class="maps d-flex flex-row">
        <div>
          <div class="title"><h3>Москва ул. Сергея Макеева 11/9 строение 5</h3></div>
          <yandex-map :addresses="['Москва ул. Сергея Макеева 11/9 строение 5']" :minZoom="15"/>
        </div>
        <div>
          <div class="title"><h3>Москва Канатчиковский проезд, 13, стр.3</h3></div>
          <yandex-map :addresses="['Москва Канатчиковский проезд, 13, стр.3']" :minZoom="15"/>
        </div>
      </div>
    </main>
    <footer>
      <app-footer v-bind="footer"/>
    </footer>
  </div>
</template>

<script>
  import AppHeader from "../components/app-header";
  import PageTitle from "../components/page-title";
  import BgImage from "../components/bg-image";
  import DataTable from "../components/data-table/data-table";
  import Dropdown from "../components/dropdown";
  import ImageGallery from "../components/image-gallery";
  import DataTableShiny from "../components/data-table/shiny/data-table-shiny";
  import AppFooter from "../components/app-footer";
  import YandexMap from "../components/yandex-map";

  export default {
    components: {
      YandexMap,
      AppFooter,
      DataTableShiny,
      ImageGallery,
      Dropdown,
      DataTable,
      BgImage,
      PageTitle,
      AppHeader
    },
    async asyncData() {
      return {
        title: 'Ремонт автомобильных дисков в москве - цены на ремонт',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        footer: {
          links: [
            {"href": "http://asshina.com/accelera.html", "title": "Accelera"},
            {"href": "http://asshina.com/achilles.html", "title": "Achilles"},
            {"href": "http://asshina.com/amtel.html", "title": "Amtel"},
            {"href": "http://asshina.com/apollo.html", "title": "Apollo"},
            {"href": "http://asshina.com/atturo.html", "title": "Atturo"},
            {"href": "http://asshina.com/aurora.html", "title": "Aurora"},
            {"href": "http://asshina.com/avon.html", "title": "Avon"},
            {"href": "http://asshina.com/shiny-barum.html", "title": "Barum"},
            {"href": "http://asshina.com/bct.html", "title": "BCT"},
            {"href": "http://asshina.com/bfgoodrich.html", "title": "BFGoodrich"},
            {"href": "http://asshina.com/bridgestone.html", "title": "Bridgestone"},
            {"href": "http://asshina.com/ceat.html", "title": "Ceat"},
            {"href": "http://asshina.com/continental.html", "title": "Continental"},
            {"href": "http://asshina.com/cooper.html", "title": "Cooper"},
            {"href": "http://asshina.com/cordiant.html", "title": "Cordiant"},
            {"href": "http://asshina.com/dayton.html", "title": "Dayton"},
            {"href": "http://asshina.com/delinte.html", "title": "Delinte"},
            {"href": "http://asshina.com/dunlop.html", "title": "Dunlop"},
            {"href": "http://asshina.com/falken.html", "title": "Falken"},
            {"href": "http://asshina.com/federal.html", "title": "Federal"},
            {"href": "http://asshina.com/firestone.html", "title": "Firestone"},
            {"href": "http://asshina.com/formula.html", "title": "Formula"},
            {"href": "http://asshina.com/fortuna.html", "title": "Fortuna"},
            {"href": "http://asshina.com/fulda.html", "title": "Fulda"},
            {"href": "http://asshina.com/general.html", "title": "General"},
            {"href": "http://asshina.com/gislaved.html", "title": "Gislaved"},
            {"href": "http://asshina.com/goodride.html", "title": "Goodride"},
            {"href": "http://asshina.com/goodyear.html", "title": "Goodyear"},
            {"href": "http://asshina.com/gt-radial.html", "title": "GT Radial"},
            {"href": "http://asshina.com/hankook.html", "title": "Hankook"},
            {"href": "http://asshina.com/headway.html", "title": "Headway"},
            {"href": "http://asshina.com/hercules.html", "title": "Hercules"},
            {"href": "http://asshina.com/imperial.html", "title": "Imperial"},
            {"href": "http://asshina.com/infinity-tyres.html", "title": "Infinity Tyres"},
            {"href": "http://asshina.com/kleber.html", "title": "Kleber"},
            {"href": "http://asshina.com/kumho.html", "title": "Kumho"},
            {"href": "http://asshina.com/lassa.html", "title": "Lassa"},
            {"href": "http://asshina.com/laufenn.html", "title": "Laufenn"},
            {"href": "http://asshina.com/leao.html", "title": "Leao"},
            {"href": "http://asshina.com/linglong.html", "title": "Linglong"},
            {"href": "http://asshina.com/marangoni.html", "title": "Marangoni"},
            {"href": "http://asshina.com/marshal.html", "title": "Marshal"},
            {"href": "http://asshina.com/matador.html", "title": "Matador"},
            {"href": "http://asshina.com/maxxis.html", "title": "Maxxis"},
            {"href": "http://asshina.com/michelin.html", "title": "Michelin"},
            {"href": "http://asshina.com/minerva.html", "title": "Minerva"},
            {"href": "http://asshina.com/nankang.html", "title": "Nankang"},
            {"href": "http://asshina.com/nexen.html", "title": "Nexen"},
            {"href": "http://asshina.com/nokian.html", "title": "Nokian"},
            {"href": "http://asshina.com/novex.html", "title": "Novex"},
            {"href": "http://asshina.com/pirelli.html", "title": "Pirelli"},
            {"href": "http://asshina.com/pneumant.html", "title": "Pneumant"},
            {"href": "http://asshina.com/points.html", "title": "PointS"},
            {"href": "http://asshina.com/radar.html", "title": "Radar"},
            {"href": "http://asshina.com/riken.html", "title": "Riken"},
            {"href": "http://asshina.com/roadstone.html", "title": "Roadstone"},
            {"href": "http://asshina.com/rockstone.html", "title": "Rockstone"},
            {"href": "http://asshina.com/rotalla.html", "title": "Rotalla"},
            {"href": "http://asshina.com/runway.html", "title": "Runway"},
            {"href": "http://asshina.com/sailun.html", "title": "Sailun"},
            {"href": "http://asshina.com/sava.html", "title": "Sava"},
            {"href": "http://asshina.com/semperit.html", "title": "Semperit"},
            {"href": "http://asshina.com/sportiva.html", "title": "Sportiva"},
            {"href": "http://asshina.com/star-performer.html", "title": "Star Performer"},
            {"href": "http://asshina.com/starfire.html", "title": "Starfire"},
            {"href": "http://asshina.com/sumitomo.html", "title": "Sumitomo"},
            {"href": "http://asshina.com/sunny.html", "title": "Sunny"},
            {"href": "http://asshina.com/syron.html", "title": "Syron"},
            {"href": "http://asshina.com/tigar.html", "title": "Tigar"},
            {"href": "http://asshina.com/toyo.html", "title": "Toyo"},
            {"href": "http://asshina.com/tracmax.html", "title": "Tracmax"},
            {"href": "http://asshina.com/triangle.html", "title": "Triangle"},
            {"href": "http://asshina.com/uniroyal.html", "title": "Uniroyal"},
            {"href": "http://asshina.com/vredestein.html", "title": "Vredestein"},
            {"href": "http://asshina.com/vsp.html", "title": "VSP"},
            {"href": "http://asshina.com/wanli.html", "title": "Wanli"},
            {"href": "http://asshina.com/westlake.html", "title": "Westlake"},
            {"href": "http://asshina.com/winrun.html", "title": "Winrun"},
            {"href": "http://asshina.com/yokohama.html", "title": "Yokohama"},
            {"href": "http://asshina.com/zeetex.html", "title": "Zeetex"},
            {"href": "http://asshina.com/belshina.html", "title": "Белшина"},
            {"href": "http://asshina.com/nizhnekamskshina.html", "title": "Нижнекамскшина"},
            {"href": "http://asshina.com/uralshina.html", "title": "Уралшина"},
            {"href": "http://asshina.com/yashz.html", "title": "ЯШЗ"},
            {"href": "http://asshina.com/shinomontazh/remont-diskov.html", "title": "Ремонт дисков"},
            {"href": "http://asshina.com/shinomontazh/sezonnoe-hranenie.html", "title": "Хранение шин Москва"},
          ],
          diski: [
            {"href": "http://asshina.com/diski-acura.html", "title": "Acura"},
            {"href": "http://asshina.com/diski-alfa-romeo.html", "title": "Alfa Romeo"},
            {"href": "http://asshina.com/diski-aston-martin.html", "title": "Aston Martin"},
            {"href": "http://asshina.com/diski-audi.html", "title": "Audi"},
            {"href": "http://asshina.com/diski-bentley.html", "title": "Bentley"},
            {"href": "http://asshina.com/diski-bmw.html", "title": "BMW"},
            {"href": "http://asshina.com/diski-brilliance.html", "title": "Brilliance"},
            {"href": "http://asshina.com/diski-buick.html", "title": "Buick"},
            {"href": "http://asshina.com/diski-cadillac.html", "title": "Cadillac"},
            {"href": "http://asshina.com/diski-changan.html", "title": "Changan"},
            {"href": "http://asshina.com/diski-changfeng.html", "title": "ChangFeng"},
            {"href": "http://asshina.com/diski-chery.html", "title": "Chery"},
            {"href": "http://asshina.com/diski-chevrolet.html", "title": "Chevrolet"},
            {"href": "http://asshina.com/diski-chrysler.html", "title": "Chrysler"},
            {"href": "http://asshina.com/diski-citroen.html", "title": "Citroen"},
            {"href": "http://asshina.com/diski-daewoo.html", "title": "Daewoo"},
            {"href": "http://asshina.com/diski-daihatsu.html", "title": "Daihatsu"},
            {"href": "http://asshina.com/diski-datsun.html", "title": "Datsun"},
            {"href": "http://asshina.com/diski-dodge.html", "title": "Dodge"},
            {"href": "http://asshina.com/diski-emgrand.html", "title": "Emgrand"},
            {"href": "http://asshina.com/diski-faw.html", "title": "FAW"},
            {"href": "http://asshina.com/diski-ferrari.html", "title": "Ferrari"},
            {"href": "http://asshina.com/diski-fiat.html", "title": "Fiat"},
            {"href": "http://asshina.com/diski-ford.html", "title": "Ford"},
            {"href": "http://asshina.com/diski-geely.html", "title": "Geely"},
            {"href": "http://asshina.com/diski-gmc.html", "title": "GMC"},
            {"href": "http://asshina.com/diski-great-wall.html", "title": "Great Wall"},
            {"href": "http://asshina.com/diski-haima.html", "title": "Haima"},
            {"href": "http://asshina.com/diski-honda.html", "title": "Honda"},
            {"href": "http://asshina.com/diski-hummer.html", "title": "Hummer"},
            {"href": "http://asshina.com/diski-hyundai.html", "title": "Hyundai"},
            {"href": "http://asshina.com/diski-infiniti.html", "title": "Infiniti"},
            {"href": "http://asshina.com/diski-isuzu.html", "title": "Isuzu"},
            {"href": "http://asshina.com/diski-iveco.html", "title": "Iveco"},
            {"href": "http://asshina.com/diski-jaguar.html", "title": "Jaguar"},
            {"href": "http://asshina.com/diski-jeep.html", "title": "Jeep"},
            {"href": "http://asshina.com/diski-kia.html", "title": "Kia"},
            {"href": "http://asshina.com/diski-lada.html", "title": "Lada"},
            {"href": "http://asshina.com/diski-lancia.html", "title": "Lancia"},
            {"href": "http://asshina.com/diski-land-rover.html", "title": "Land Rover"},
            {"href": "http://asshina.com/diski-lexus.html", "title": "Lexus"},
            {"href": "http://asshina.com/diski-lifan.html", "title": "Lifan"},
            {"href": "http://asshina.com/diski-lincoln.html", "title": "Lincoln"},
            {"href": "http://asshina.com/diski-lotus.html", "title": "Lotus"},
            {"href": "http://asshina.com/diski-maserati.html", "title": "Maserati"},
            {"href": "http://asshina.com/diski-maybach.html", "title": "Maybach"},
            {"href": "http://asshina.com/diski-mazda.html", "title": "Mazda"},
            {"href": "http://asshina.com/diski-mercedes.html", "title": "Mercedes"},
            {"href": "http://asshina.com/diski-mercury.html", "title": "Mercury"},
            {"href": "http://asshina.com/diski-mg.html", "title": "MG"},
            {"href": "http://asshina.com/diski-mini.html", "title": "Mini"},
            {"href": "http://asshina.com/diski-mitsubishi.html", "title": "Mitsubishi"},
            {"href": "http://asshina.com/diski-nissan.html", "title": "Nissan"},
            {"href": "http://asshina.com/diski-opel.html", "title": "Opel"},
            {"href": "http://asshina.com/diski-peugeot.html", "title": "Peugeot"},
            {"href": "http://asshina.com/diski-pontiac.html", "title": "Pontiac"},
            {"href": "http://asshina.com/diski-porsche.html", "title": "Porsche"},
            {"href": "http://asshina.com/diski-renault.html", "title": "Renault"},
            {"href": "http://asshina.com/diski-rolls-royce.html", "title": "Rolls Royce"},
            {"href": "http://asshina.com/diski-rover.html", "title": "Rover"},
            {"href": "http://asshina.com/diski-saab.html", "title": "Saab"},
            {"href": "http://asshina.com/diski-saturn.html", "title": "Saturn"},
            {"href": "http://asshina.com/diski-scion.html", "title": "Scion"},
            {"href": "http://asshina.com/diski-seat.html", "title": "Seat"},
            {"href": "http://asshina.com/diski-skoda.html", "title": "Skoda"},
            {"href": "http://asshina.com/diski-smart.html", "title": "Smart"},
            {"href": "http://asshina.com/diski-ssang-yong.html", "title": "Ssang Yong"},
            {"href": "http://asshina.com/diski-subaru.html", "title": "Subaru"},
            {"href": "http://asshina.com/diski-suzuki.html", "title": "Suzuki"},
            {"href": "http://asshina.com/diski-tagaz.html", "title": "Tagaz"},
            {"href": "http://asshina.com/diski-toyota.html", "title": "Toyota"},
            {"href": "http://asshina.com/diski-volkswagen.html", "title": "Volkswagen"},
            {"href": "http://asshina.com/diski-volvo.html", "title": "Volvo"},
            {"href": "http://asshina.com/diski-gaz.html", "title": "ГАЗ"},
            {"href": "http://asshina.com/diski-uaz.html", "title": "УАЗ"},
          ],
          logo: {
            title: 'Шины бу в Москве, купить резину бу по низкой цене из Европы',
            image: 'http://asshina.com/wp-content/uploads/2017/09/AS-SHina-BU-175_54.jpg'
          },
          social: {
            instagram: '#',
            vkontakte: '#',
            facebook: '#',
            youtube: '#',
          },
          schedule: '9:00-21:00 <br>без выходных',
          phone: '+7 (499) 649-15-52',
        },
        gallery: [
          [
            'http://asshina.com/wp-content/uploads/2016/09/IMG_9777-min-1024x683.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/IMG_9730-min.jpg',
          ],
          [
            'http://asshina.com/wp-content/uploads/2016/09/1IMG-min-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/2IMG-min-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/3IMG-min-1-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/4IMG-min-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/5IMG-min-300x225.jpg',
            'http://asshina.com/wp-content/uploads/2016/09/6IMG-min-300x225.jpg',
          ],
        ],
        content: '<p style="text-align: justify;">Компания «ASshina» реализует шины бу оптом и в розницу по ценам существенно ниже чем стоимость новых колес. Мы продаем шины бу&nbsp;с минимальным процентом износа из Европы, сэкономь до 50% стоимости, при покупке резины бу&nbsp;из Европы. Такая продукция служит дольше, чем резина «ходившая» по Российским дорогам.</p><p style="text-align: justify;"><img class="alignleft wp-image-4982 size-medium" title="Шины бу и резина бу из Европы" src="http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min-300x200.jpg" alt="Шины бу и резина бу из Европы" width="300" height="200" srcset="http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min-300x200.jpg 300w, http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min-768x512.jpg 768w, http://asshina.com/wp-content/uploads/2016/09/IMG_7906-min.jpg 1000w" sizes="(max-width: 300px) 100vw, 300px">Резина бу, приобретенная у нас – отличный способ сэкономить. «ASshina» предлагает купить шины бу в Москве по низкой цене, процент износа в среднем 20%.</p><p style="text-align: justify;">Порой замена резины европейскими автолюбителями производится задолго до выхода изделия из строя. Законодательство не дает возможности страховать автомобиль, даже если износ колес небольшой. Таким образом, благодаря отлаженной системе работы с поставщиками из Европы мы в состоянии предложить Российским автовладельцам купить резину бу в Москве по низкой цене. Шины бу из Европы отлично эксплуатируются в нашем климате и на наших непростых дорогах.</p><h2 style="text-align: justify;">Покупайте шины бу в Москве выгодно!</h2><p style="text-align: justify;">В ассортименте более 5 000 шин&nbsp;на двух складах. Представлены шины лучших зарубежных брендов – Bridgestone, Pirelli, Continental, Michelin, Dunlop, Yokohama и многих других известных марок. У нас в компании Вы сможете купить шины бу в Москве почти любого типоразмера и сезонности, которые отходят еще 2-3 сезона.</p><p style="text-align: justify;">Зачем переплачивать за идентичный продукт? Шины бу перед продажей&nbsp;колибруются в Германии и приезжают к нам с износом в коридоре от 15 до 25%, поэтому можете быть уверены, что они еще Вам послужат!</p>'
      };
    },
    head() {
      return {
        title: this.title,
      };
    }
  }
</script>

<style scoped lang="scss">
  .content {
    margin-top: 60px;
    padding: 20px 0;
    &:before, &:after {
      content: "";
      border-top: 2px solid #fff;
      width: 30%;
      position: absolute;
      left: 35%;
    }
    .title1 {
      width: 100%;
      text-align: center;
      color: #fff;
      font-size: 30px;
      span.big {
        color: #80b9ef;
        font-size: 40px;
      }
    }
  }

  .podbor {
    padding-bottom: 61px;
    ul {
      padding: 0;
      margin: 0;
      border: 0;
      border-top: 1px solid black;
      list-style: none;
      li {
        &:hover a {
          background: #eecd14;
        }
        a {
          padding: 0 20px;
          line-height: 2;
          margin: 0;
          background: white;
          text-align: center;
          display: block;
          clear: both;
          font-weight: 400;
          color: #333;
          white-space: nowrap;
        }
      }
    }
  }

  .title-2 {
    font-size: 24px;
  }

  .choiser {
    width: 500px;
    margin: 25px auto;
    p {
      float: left;
      margin-right: 10px;
      margin-top: -5px;
      margin-bottom: 0;
    }
    a {
      border: 2px solid #eecd14;
      padding: 10px 68px;
      display: inline;
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 15px;
      color: black;
      background: #eecd14;
      margin: 10px 0;
      text-decoration: none;
      &.inactive {
        background: white;
      }
      &:hover {
        text-decoration: underline;
        outline: 0;
      }
    }
  }

  .callblock-border {
    margin: 20px auto;
    background: #4e83db;
    padding: 20px;
    max-width: 858px;
  }

  .callblock {
    border: 2px solid white;
    padding: 10px;
    color: black;
    font-size: 30px;
    p span {
      font-size: 25px;
    }
  }

  .title {
    margin: 20px 0;
    width: 100%;
    background: #4e83db;
    text-align: center;
    color: #fff;
    h2 {
      font-size: 24px;
      font-weight: 100;
      margin: 15px 0;
      color: #fff;
      text-transform: none;
    }
    h1 {
      margin: 15px;
      font-size: 24px;
    }
  }

  .shinomontazh-block .title {
    margin-bottom: 0;
  }

  .shinomontazh {
    color: white;
    padding: 36px;
    background: rgba(0, 0, 0, 0.6);
  }

  .cert {
    margin: 20px 0;
    p {
      text-align: center;
      color: black;
      font-size: 30px;
      margin: 70px auto;
      max-width: 570px;
    }
  }

  .actsiya img {
    max-width: 800px;
    width: 100%;
  }

  .maps {
    > div {
      width: 50%;
    }
    .title {
      margin-bottom: 0;
      h3 {
        margin-bottom: 0;
        padding: 15px;
      }
    }
  }
</style>
