<template>
  <div>
    <header>
      <app-header v-bind="header"/>
    </header>
    <main>
      <bg-image :image="bgImage"/>
      <page-title :title="title"/>
      <div class="container">
        <div class="row">
          <div class="col" v-html="content"></div>
        </div>
      </div>
      <!--TODO: Add form-->
    </main>
  </div>
</template>

<script>
  import AppHeader from "../components/app-header";
  import PageTitle from "../components/page-title";
  import BgImage from "../components/bg-image";

  export default {
    components: {BgImage, PageTitle, AppHeader},
    async asyncData() {
      return {
        title: 'Выкуп шин бу и скупка шин бу',
        header: {
          title: 'title',
          logo: 'http://asshina.com/wp-content/uploads/2017/09/SHiny-bu-ASshina-2.jpg',
          phone: '+7 (499) 649-15-52'
        },
        bgImage: 'http://asshina.com/wp-content/uploads/2016/09/vykup-shin-bu.jpg',
        content: `<p style="text-align: justify;"><img class="wp-image-24457 alignleft" src="http://asshina.com/wp-content/uploads/2016/09/vykup-shin-bu-2.jpg" alt="Выкуп шин бу " width="80" height="80" srcset="http://asshina.com/wp-content/uploads/2016/09/vykup-shin-bu-2.jpg 200w, http://asshina.com/wp-content/uploads/2016/09/vykup-shin-bu-2-150x150.jpg 150w" sizes="(max-width: 80px) 100vw, 80px">Компания&nbsp;«ASshina» осуществляет&nbsp;выкуп шин<strong>&nbsp;</strong>любых марок и модификаций на выгодных условиях, что позволяет неплохо заработать. Предлагаем удобное сотрудничество – интересуют бывшие в употреблении шины от&nbsp;R15 до&nbsp;R22. Стоимость резины определяется в зависимости от качества и состояния.<strong>&nbsp;</strong>Выкуп шин бу<strong> –&nbsp;</strong>одно из направлений деятельности.</p><p style="text-align: justify;"></p><div class="su-heading su-heading-style-flat-dark su-heading-align-left" style="font-size:18px;margin-bottom:10px"><div class="su-heading-inner">Выкуп шин бу – цены:</div></div><table class="table-bordered" style="width: 769px;" align="center"><tbody><tr class="info"><td style="width: 86.1667px; height: 50px; text-align: center;">R</td><td style="width: 233.133px; text-align: center; height: 50px;">больше 6 мм</td><td style="width: 218.433px; text-align: center; height: 50px;">5-6 мм</td><td style="width: 203.267px; text-align: center; height: 50px;">4-5 мм</td></tr><tr><td style="width: 86.1667px; text-align: center; height: 50px;">R 15</td><td style="width: 233.133px; text-align: center; height: 50px;">1000</td><td style="width: 218.433px; text-align: center; height: 50px;">600</td><td style="width: 203.267px; text-align: center; height: 50px;">400</td></tr><tr><td style="width: 86.1667px; text-align: center; height: 50px;">R 16</td><td style="width: 233.133px; text-align: center; height: 50px;">1500</td><td style="width: 218.433px; text-align: center; height: 50px;">800</td><td style="width: 203.267px; text-align: center; height: 50px;">500</td></tr><tr><td style="width: 86.1667px; text-align: center; height: 50px;">R 17</td><td style="width: 233.133px; text-align: center; height: 50px;">2000</td><td style="width: 218.433px; text-align: center; height: 50px;">1200</td><td style="width: 203.267px; text-align: center; height: 50px;">800</td></tr><tr><td style="width: 86.1667px; text-align: center; height: 50px;">R 18</td><td style="width: 233.133px; text-align: center; height: 50px;">2200</td><td style="width: 218.433px; text-align: center; height: 50px;">1400</td><td style="width: 203.267px; text-align: center; height: 50px;">1000</td></tr><tr><td style="width: 86.1667px; text-align: center; height: 50px;">R 19</td><td style="width: 233.133px; text-align: center; height: 50px;">2500</td><td style="width: 218.433px; text-align: center; height: 50px;">1600</td><td style="width: 203.267px; text-align: center; height: 50px;">1200</td></tr><tr><td style="width: 86.1667px; text-align: center; height: 50px;">R 20</td><td style="width: 233.133px; text-align: center; height: 50px;">3000</td><td style="width: 218.433px; text-align: center; height: 50px;">2000</td><td style="width: 203.267px; text-align: center; height: 50px;">1500</td></tr><tr><td style="width: 86.1667px; text-align: center; height: 50px;">R 21</td><td style="width: 233.133px; text-align: center; height: 50px;">3000</td><td style="width: 218.433px; text-align: center; height: 50px;">2000</td><td style="width: 203.267px; text-align: center; height: 50px;">1500</td></tr><tr><td style="width: 86.1667px; text-align: center; height: 50px;">R 22</td><td style="width: 233.133px; text-align: center; height: 50px;">3000</td><td style="width: 218.433px; text-align: center; height: 50px;">2000</td><td style="width: 203.267px; text-align: center; height: 50px;">1500</td></tr></tbody></table><p style="text-align: justify;"><span style="color: #000000;"></span></p><div class="su-heading su-heading-style-flat-dark su-heading-align-left" style="font-size:18px;margin-bottom:10px"><div class="su-heading-inner">Выкуп бу шин не носит массовый характер, производится на усмотрение менеджера магазина по потребности.</div></div><p></p><h2 style="text-align: justify;">Выкуп шин в Москве и МО</h2><p style="text-align: justify;">Выкуп шин бу в Москве<strong>&nbsp;</strong>и Московской области позволяет избавиться от ненужного товара. Теперь не нужно сдавать покрышки на утилизацию. Привозите резину в&nbsp;«ASshina» и получайте реальные деньги.</p><p style="text-align: justify;">Говоря о том, что производим&nbsp;выкуп шин в любом состоянии,<strong>&nbsp;</strong>компания подразумевает, еще возможную эксплуатацию продукта. Износ покрышек должен быть еще далек от критичного, также важно отсутствие порезов, проколов и грыж. Привозите изделия на&nbsp;выкуп шин в Москве<strong>&nbsp;</strong>в&nbsp;«ASshina», если высота протектора от 4 мм.</p><p style="text-align: justify;">Расчет стоимости производится индивидуально. Цену на продукцию определяет состояние и степень износа, срок использования, марка и модель. Примерные расценки в соответствии с условиями приёма указаны в таблице в разделе, посвященном услуге на сайте.</p><p style="text-align: justify;">Выкуп шин<strong>&nbsp;</strong>в компании Ассшина имеет массу преимуществ для потребителя. Во-первых, за бывшие в употреблении покрышки клиент получает деньги. Во-вторых, потребитель избавляется от ненужных вещей, и в-третьих, сохраняет окружающую среду, так как не выбрасывает резину, а передает на вторичное применение. Экологичность и выгода – основные достоинства предлагаемой услуги.</p><p style="text-align: justify;">Сдать шины бу можно на любом из двух складов компании. Прием покрышек проходит в хранилищах, расположенных в Москве – в районе станции метро Улица 1905 года и станции метро Ленинский проспект. На складе специалисты произведут осмотр на соответствие и назовут стоимость и условия приёма.</p><p>&nbsp;</p>`
      };
    },
    head() {
      return {title: this.title};
    }
  }
</script>
