<template>
    <form class="filters text-center form-row">
        <select-control
                class="col"
                v-for="key in keys"
                :key="key"
                :name="names[key]"
                v-model="filtered[key]"
                :values="filters[key]"/>
    </form>
</template>

<script>
    import SelectControl from "./select-control";

    export default {
        name: "data-table-filters",
        components: {SelectControl},
        props: {
            filters: Object,
            filtered: Object,
            names: Object
        },
        computed: {
            keys() {
                return Object.keys(this.names);
            }
        }
    }
</script>

<style scoped>
    .filters {
        width: 100%;
        margin: 5px auto;
    }
</style>
