<script>
  import axios from 'axios';

  export default {
    name: "data-table",
    data() {
      return {
        loader: true,
        baseUrl: '',
        source: '',
        currentPage: 1,
        totalQueryCount: 0,
        perPage: 10,
        items: [],
        filtered: {},
        filter: {},
      };
    },
    methods: {
      async updateItems() {
        this.loader = true;

        const params = Object.keys(this.filtered)
          .filter(key => this.filtered[key])
          .map(key => `filter[${key}]=${this.filtered[key]}`);

        params.push(`source=${this.source}`);

        params.push(`limit=${this.perPage}`);
        params.push(`offset=${(this.currentPage - 1) * this.perPage}`);

        /**
         * @type {AxiosResponse<DTResponse>}
         */
        const res = await axios.get(`${this.baseUrl}?${params.join('&')}`);
        /**
         * @type {DTResponse}
         */
        const data = res.data;

        this.totalQueryCount = data.count;
        this.items = data.items;

        this.loader = false;
      },
    },
    watch: {
      currentPage() {
        this.updateItems();
      },
      filtered: {
        handler() {
          this.currentPage = 1;
          this.updateItems();
        },
        deep: true,
      },
    },
  }
</script>
