<template>
    <div>
        <slot v-if="!loader"/>
        <div v-else class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning"
                 role="progressbar"
                 aria-valuenow="100"
                 aria-valuemin="0"
                 aria-valuemax="100">
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "data-table-loader",
        model: {
            prop: 'loader',
            event: 'change'
        },
        props: {
            loader: {
                type: Boolean,
                default: true,
            }
        }
    }
</script>

<style scoped>
    .progress,
    .progress .progress-bar {
        width: 100%;
    }
</style>
