<template>
    <div class="form-group">
        <label :for="id"><strong>{{ name }}</strong></label>
        <!--suppress HtmlFormInputWithoutLabel -->
        <select :id="id" v-model="value" @change="change()" class="form-control">
            <option :value="null">Все</option>
            <option v-for="(item, key) in values" :key="key" :value="key">{{ item }}</option>
        </select>
    </div>
</template>

<script>
    export default {
        name: "select-control",
        data() {
            return {
                id: 'id-' + Math.random()
            };
        },
        props: {
            name: {
                type: String,
                required: true
            },
            values: {
                type: Object,
                default: [],
                required: true
            },
            value: {
                default: null
            }
        },
        model: {
            event: 'change',
            prop: 'value'
        },
        methods: {
            change() {
                this.$emit('change', this.value);
            }
        }
    }
</script>

<style scoped>
    .form-control {
        border-radius: 0;
    }
</style>
